<template>
    <v-container
        class='py-4'
        fluid
    >
        <v-row justify='center'>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                class='text-center'
                cols='12'
            >
                <h1>{{ $t('newOffer') }}</h1>
            </v-col>

            <v-col
                class='mt-3'
                cols='12'
                sm='8'
                md='6'
            >
                <form @submit.prevent="addOffer">
                    <v-text-field
                        name="title"
                        v-model="form.title"
                        id="title"
                        :label="$t('title')"
                        type="text"
                        variant='underlined'
                        :counter="256"
                        :error-messages="fieldErrors('title')"
                        @update:model-value="v$.title.$touch()"
                        @blur="v$.title.$touch()"
                        @update:modelValue="resetFieldError('title')"
                    ></v-text-field>

                    <VuetifyTiptap
                        class="pt-2 pb-1"
                        name="description"
                        v-model="form.description"
                        id="description"
                        :dark="true"
                        :outlined="true"
                        required
                        @update:model-value="v$.description.$touch()"
                        @blur="v$.description.$touch()"
                        @update:modelValue="resetFieldError('description')"
                    />
                    <div
                        v-if='v$.description.$invalid'
                        class='text-red-lighten-1 pb-1'
                    >
                        {{ fieldErrors('description')[0] }}
                    </div>

                    <v-autocomplete
                        name="language"
                        v-model="form.language"
                        id="language"
                        :label="$t('descriptionLanguage')"
                        :items="getSelectionItems(getListWithNotSpecified(languagesEnum))"
                        item-title="text"
                        item-value="value"
                        :placeholder="$t('chooseLanguage')"
                        variant='underlined'
                        clearable
                        :error-messages="fieldErrors('language')"
                        @update:model-value="v$.language.$touch()"
                        @blur="v$.language.$touch()"
                        @update:modelValue="resetFieldError('language')"
                    ></v-autocomplete>

                    <v-checkbox
                        :label="$t('isActive')"
                        name="isActive"
                        v-model="form.isActive"
                        id="isActive"
                        color='blue'
                        density='compact'
                        :error-messages="fieldErrors('isActive')"
                        @update:model-value="v$.isActive.$touch()"
                        @blur="v$.isActive.$touch()"
                        @update:modelValue="resetFieldError('isActive')"
                    />

                    <v-divider></v-divider>

                    <ValidateEach
                        v-for='(item, i) in form.imageCollection'
                        :key='i'
                        :state='item'
                        :rules='imageRules'
                    >
                        <template #default='{v}'>
                            <v-row
                                justify='center'
                                class='mt-2 align-center'
                            >
                                <v-col
                                    cols='12'
                                    sm='6'
                                >
                                    <v-file-input
                                        v-model="v.data.$model"
                                        :label="$t('image')"
                                        accept='image/png, image/jpeg, image/jpg, image/bmp, image/webp'
                                        :placeholder="$t('chooseImage')"
                                        prepend-icon='mdi-camera'
                                        variant='underlined'
                                        clearable
                                        show-size
                                        :error-messages="validateImage(v.data, i)"
                                        @change="createImage(i)"
                                        @click:clear="deleteImage(i)"
                                    ></v-file-input>
                                </v-col>

                                <v-col
                                    cols='12'
                                    sm='6'
                                >
                                    <v-img
                                        max-height='300'
                                        :src="form.imageCollection[i].preview"
                                    ></v-img>
                                </v-col>
                            </v-row>
                        </template>
                    </ValidateEach>

                    <v-btn
                        color='success'
                        variant='tonal'
                        class='my-4'
                        v-on:click='addImage()'
                        :prepend-icon='newImageBtn.icon'
                        :loading='loading'
                        :disabled='loading'
                    >
                        {{ $t(newImageBtn.title) }}
                    </v-btn>

                    <v-divider></v-divider>

                    <v-btn
                        color='blue'
                        variant='tonal'
                        type='submit'
                        class='text-center mt-4'
                        :loading='loading'
                        :disabled='loading'
                    >
                        {{ $t('add') }}
                    </v-btn>
                </form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import { useVuelidate } from '@vuelidate/core';
    import { required, maxLength, minLength, helpers } from '@vuelidate/validators';
    import SubNavigation from '../components/SubNavigation.vue';
    import { ValidateEach } from '@vuelidate/components'
    import useMessage from '../composables/useMessage';
    import useSelection from '../composables/useSelection';
    import useFormData from '../composables/useFormData';
    import useErrorData from '../composables/useErrorData';
    import useImage from '../composables/useImage';
    import useImageRules from '../composables/rules/useImageRules';
    import useFieldErrors from '../composables/useFieldErrors';
    import { $t } from "../locales/localization";

    export default {
        components: {
            SubNavigation,
            ValidateEach,
        },

        setup () {
            const { formValues } = useFormData(
                {
                    title: '',
                    description: '',
                    language: '-',
                    isActive: true,
                    imageCollection: [],
                    recaptcha: '',
                },
            );
            const { errorValues } = useErrorData(
                {
                    title: null,
                    description: null,
                    language: null,
                    isActive: null,
                    imageCollection: null,
                }
            );
            const { addImage, createImage, deleteImage, removeEmptyImages, validateImage } = useImage(
                {
                    new: 'imageCollection',
                    error: 'imageCollection',
                },
                formValues,
                errorValues,
            );
            const { imageRules } = useImageRules();

            const validationRules = {
                title: {
                    required: helpers.withMessage($t('validation.requiredField'), required),
                    minLength: helpers.withMessage($t('validation.mustBeAtLeastCharsLong', { num: '3' }), minLength(3)),
                    maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '256' }), maxLength(256)),
                },
                description: {
                    maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '4096' }), maxLength(4096)),
                },
                language: { },
                isActive: { },
            };

            const v$ = useVuelidate(validationRules, formValues);

            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { getListWithNotSpecified, getSelectionItems } = useSelection();
            const { fieldErrors, resetFieldError } = useFieldErrors(v$, errorValues);

            return {
                form: formValues,
                errors: errorValues,
                addImage,
                createImage,
                deleteImage,
                removeEmptyImages,
                validateImage,
                v$,
                imageRules,
                setErrorMessage,
                setNotificationMessage,
                getListWithNotSpecified,
                getSelectionItems,
                fieldErrors,
                resetFieldError,
            };
        },

        data () {
            return {
                loading: false,
                newImageBtn: { title: 'newImage', icon: 'mdi-plus' },
                navHelperItems: [
                    {
                        title: 'navigation.home',
                        disabled: false,
                        href: '/',
                    },
                    {
                        title: 'newOffer',
                        disabled: true,
                        href: '/newOffer',
                    },
                ],
            }
        },

        computed: {
            ...mapGetters({
                languagesEnum: 'enums/languages',
            }),
        },

        methods: {
            ...mapActions({
                getOfferListAction: 'offers/getOffers',
            }),

            addOffer() {
                this.v$.$touch();
                if (this.v$.$invalid) {
                    this.setErrorMessage(this.$t('error.pleaseFillOutTheForm'));
                } else {
                    this.loading = true;
                    this.removeEmptyImages();
                    this.$recaptcha('addOffer').then(token => {
                        this.form.recaptcha = token;
                        axios.post('/api/storeOffer', this.form).then(response => {
                            this.loading = false;
                            this.form.recaptcha = '';
                            if (response.data.success) {
                                this.setNotificationMessage(this.$t(response.data.message));
                                this.getOfferListAction();
                                this.$router.push({ name: 'Home' });
                            } else {
                                this.setErrorMessage(this.$t(response.data.message));

                                if (response.data.errors) {
                                    if (response.data.errors.title) {
                                        this.errors.title = response.data.errors.title;
                                    }
                                    if (response.data.errors.description) {
                                        this.errors.description = response.data.errors.description;
                                    }
                                    if (response.data.errors.language) {
                                        this.errors.language = response.data.errors.language;
                                    }
                                    if (response.data.errors.isActive) {
                                        this.errors.isActive = response.data.errors.isActive;
                                    }
                                    if (response.data.errors.imageCollection && response.data.errors.imageCollection.length > 0) {
                                        this.errors.imageCollection = response.data.errors.imageCollection;
                                    }
                                }
                            }
                        }).catch((error) => {
                            console.log(error);
                            this.form.recaptcha = '';
                            this.loading = true;
                            this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch((error) => {
                        console.log(error);
                        this.form.recaptcha = '';
                        this.loading = true;
                        this.setErrorMessage(this.$t('error.recaptchaError'));
                    });
                }
            },
        },
    }
</script>

<style scoped>

</style>
