<template>
    <v-container
        class='py-4'
        fluid
    >
        <v-row justify='center'>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                class='text-center'
                cols='12'
            >
                <h1>{{ $t('newService') }}</h1>
            </v-col>

            <v-col
                class='mt-3'
                cols='12'
                sm='8'
                md='6'
            >
                <form @submit.prevent="addService">
                    <v-autocomplete
                        name="serviceType"
                        v-model="form.serviceType"
                        id="serviceType"
                        :label="$t('type')"
                        :items="getSelectionItems(serviceTypesEnum)"
                        item-title="text"
                        item-value="value"
                        :placeholder="$t('chooseType')"
                        variant='underlined'
                        clearable
                        :error-messages="fieldErrors('serviceType')"
                        @update:model-value="v$.serviceType.$touch()"
                        @blur="v$.serviceType.$touch()"
                        @update:modelValue="resetFieldError('serviceType')"
                    ></v-autocomplete>

                    <v-text-field
                        name="title"
                        v-model="form.title"
                        id="title"
                        :label="$t('title')"
                        type="text"
                        variant='underlined'
                        :counter="256"
                        :error-messages="fieldErrors('title')"
                        @update:model-value="v$.title.$touch()"
                        @blur="v$.title.$touch()"
                        @update:modelValue="resetFieldError('title')"
                    ></v-text-field>

                    <VuetifyTiptap
                        class="pt-2 pb-1"
                        name="note"
                        v-model="form.note"
                        id="note"
                        :dark="true"
                        :outlined="true"
                        required
                        @update:model-value="v$.note.$touch()"
                        @blur="v$.note.$touch()"
                        @update:modelValue="resetFieldError('note')"
                    />
                    <div
                        v-if='v$.note.$invalid'
                        class='text-red-lighten-1 pb-1'
                    >
                        {{ fieldErrors('note')[0] }}
                    </div>

                    <v-autocomplete
                        name="language"
                        v-model="form.language"
                        id="language"
                        :label="$t('descriptionLanguage')"
                        :items="getSelectionItems(getListWithNotSpecified(languagesEnum))"
                        item-title="text"
                        item-value="value"
                        :placeholder="$t('chooseLanguage')"
                        variant='underlined'
                        clearable
                        :error-messages="fieldErrors('language')"
                        @update:model-value="v$.language.$touch()"
                        @blur="v$.language.$touch()"
                        @update:modelValue="resetFieldError('language')"
                    ></v-autocomplete>

                    <v-text-field
                        name="price"
                        v-model="form.price"
                        id="price"
                        :label="$t('price')"
                        prefix="€"
                        variant='underlined'
                        :error-messages="fieldErrors('price')"
                        @update:model-value="v$.price.$touch()"
                        @blur="v$.price.$touch()"
                        @update:modelValue="resetFieldError('price')"
                    ></v-text-field>

                    <v-checkbox
                        :label="$t('isActive')"
                        name="isActive"
                        v-model="form.isActive"
                        id="isActive"
                        color='blue'
                        density='compact'
                        :error-messages="fieldErrors('isActive')"
                        @update:model-value="v$.isActive.$touch()"
                        @blur="v$.isActive.$touch()"
                        @update:modelValue="resetFieldError('isActive')"
                    />

                    <v-btn
                        color='blue'
                        variant='tonal'
                        type='submit'
                        class='text-center mt-4'
                        :loading='loading'
                        :disabled='loading'
                    >
                        {{ $t('add') }}
                    </v-btn>
                </form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { computed } from 'vue'
    import { mapGetters, mapActions } from 'vuex';
    import { useVuelidate } from '@vuelidate/core';
    import { required, maxLength, minLength, decimal, minValue, maxValue, helpers } from '@vuelidate/validators';
    import SubNavigation from '../components/SubNavigation.vue';
    import useMessage from '../composables/useMessage';
    import useSelection from '../composables/useSelection';
    import useFormData from '../composables/useFormData';
    import useErrorData from '../composables/useErrorData';
    import useFieldErrors from '../composables/useFieldErrors';
    import { $t } from "../locales/localization";

    export default {
        components: {
            SubNavigation,
        },

        setup () {
            const { formValues } = useFormData(
                {
                    serviceType: '',
                    title: '',
                    note: '',
                    language: '-',
                    price: 10.00,
                    isActive: true,
                    recaptcha: '',
                }
            );
            const { errorValues } = useErrorData(
                {
                    serviceType: null,
                    title: null,
                    note: null,
                    language: null,
                    price: null,
                    isActive: null,
                }
            );
            const validationRules = computed(() => {
                return {
                    serviceType: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                    },
                    title: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        minLength: helpers.withMessage($t('validation.mustBeAtLeastCharsLong', { num: '3' }), minLength(3)),
                        maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '256' }), maxLength(256)),
                    },
                    note: {
                        minLength: helpers.withMessage($t('validation.mustBeAtLeastCharsLong', { num: '3' }), minLength(3)),
                        maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '256' }), maxLength(256)),
                    },
                    language: { },
                    price: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        decimal: helpers.withMessage($t('validation.mayContainOnlyNaturalNumbersOrNumbersWithDot'), decimal),
                        minValue: helpers.withMessage($t('validation.mustBeAPositiveValue'), minValue(0.00)),
                        maxValue: helpers.withMessage($t('validation.numberTooLarge'), maxValue(2000000000.00)),
                    },
                    isActive: { },
                }
            });
            const v$ = useVuelidate(validationRules, formValues);

            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { getListWithNotSpecified, getSelectionItems } = useSelection();
            const { fieldErrors, resetFieldError } = useFieldErrors(v$, errorValues);

            return {
                form: formValues,
                errors: errorValues,
                v$,
                setErrorMessage,
                setNotificationMessage,
                getListWithNotSpecified,
                getSelectionItems,
                fieldErrors,
                resetFieldError,
            };
        },

        data () {
            return {
                loading: false,
                navHelperItems: [
                    {
                        title: 'navigation.home',
                        disabled: false,
                        href: '/',
                    },
                    {
                        title: 'newService',
                        disabled: true,
                        href: '/newService',
                    },
                ],
            }
        },

        computed: {
            ...mapGetters({
                serviceTypesEnum: 'enums/serviceTypes',
                languagesEnum: 'enums/languages',
            }),
        },

        methods: {
            ...mapActions({
                getServiceListAction: 'services/getServices',
            }),

            addService() {
                this.v$.$touch();
                if (this.v$.$invalid) {
                    this.setErrorMessage(this.$t('error.pleaseFillOutTheForm'));
                } else {
                    this.loading = true;
                    this.$recaptcha('addService').then(token => {
                        this.form.recaptcha = token;
                        axios.post('/api/storeService', this.form).then(response => {
                            this.loading = false;
                            this.form.recaptcha = '';
                            if (response.data.success) {
                                this.setNotificationMessage(this.$t(response.data.message));
                                this.getServiceListAction();
                                this.$router.push({ name: 'Home' });
                            } else {
                                this.setErrorMessage(this.$t(response.data.message));

                                if (response.data.errors) {
                                    if (response.data.errors.serviceType) {
                                        this.errors.serviceType = response.data.errors.serviceType;
                                    }
                                    if (response.data.errors.title) {
                                        this.errors.title = response.data.errors.title;
                                    }
                                    if (response.data.errors.note) {
                                        this.errors.note = response.data.errors.note;
                                    }
                                    if (response.data.errors.language) {
                                        this.errors.language = response.data.errors.language;
                                    }
                                    if (response.data.errors.price) {
                                        this.errors.price = response.data.errors.price;
                                    }
                                    if (response.data.errors.isActive) {
                                        this.errors.isActive = response.data.errors.isActive;
                                    }
                                }
                            }
                        }).catch((error) => {
                            console.log(error);
                            this.form.recaptcha = '';
                            this.loading = true;
                            this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch((error) => {
                        console.log(error);
                        this.form.recaptcha = '';
                        this.loading = true;
                        this.setErrorMessage(this.$t('error.recaptchaError'));
                    });
                }
            },
        },
    }
</script>

<style scoped>

</style>
