<template>
    <v-container
        class='py-4'
        fluid
    >
        <v-row justify='center'>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                class='text-center'
                cols='12'
            >
                <h1>{{ $t('changeLanguage') }}</h1>
            </v-col>

            <v-col
                class='mt-3'
                cols='12'
                sm='8'
                md='6'
            >
                <form @submit.prevent="changeLanguage">
                    <v-autocomplete
                        name="language"
                        v-model="form.language"
                        id="language"
                        :label="$t('language')"
                        :items="getSelectionItems(languagesEnum)"
                        item-title="text"
                        item-value="value"
                        :placeholder="$t('chooseLanguage')"
                        variant='underlined'
                        :error-messages="languageErrors"
                        @update:model-value="v$.form.language.$touch()"
                        @blur="v$.form.language.$touch()"
                    ></v-autocomplete>

                    <v-btn
                        color='blue'
                        variant='tonal'
                        type='submit'
                        class='text-center mt-4'
                        :loading='loading'
                        :disabled='loading'
                    >
                        {{ $t('change') }}
                    </v-btn>
                </form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import { useVuelidate } from '@vuelidate/core';
    import { required, sameAs, not, helpers } from '@vuelidate/validators';
    import SubNavigation from '../components/SubNavigation.vue';
    import useMessage from '../composables/useMessage';
    import useSelection from '../composables/useSelection';

    export default {
        components: {
            SubNavigation,
        },

        setup () {
            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { getSelectionItems } = useSelection();

            return {
                v$: useVuelidate(),
                setErrorMessage,
                setNotificationMessage,
                getSelectionItems
            };
        },

        validations () {
            return {
                form: {
                    language: {
                        required: helpers.withMessage(this.$t('validation.requiredField'), required),
                        notSameAsCurrentLanguage: helpers.withMessage(this.$t('validation.mustNotBeTheSame'), not(sameAs(this.user.language))),
                    },
                },
            }
        },

        data () {
            return {
                form: {
                    id: null,
                    language: '',
                    recaptcha: '',
                },
                errors: {
                    language: null,
                },
                loading: false,
                navHelperItems: [
                    {
                        title: 'navigation.home',
                        disabled: false,
                        href: '/',
                    },
                    {
                        title: 'account',
                        disabled: false,
                        href: '/account',
                    },
                    {
                        title: 'changeLanguage',
                        disabled: true,
                        href: '/changeLanguage',
                    },
                ],
            }
        },

        computed: {
            languageErrors() {
                const errors = [];
                if (this.errors.language) {
                    errors.push(this.$t(this.errors.language[0]));
                    this.errors.language = null;
                }
                if (!this.v$.form.language.$dirty) {
                    return errors;
                }
                this.v$.form.language.$errors.forEach((error) => {
                    errors.push(error.$message);
                });
                return errors;
            },

            ...mapGetters({
                authenticated: 'auth/authenticated',
                user: 'auth/user',
                languagesEnum: 'enums/languages',
            }),
        },

        methods: {
            ...mapActions({
                refreshUserDataAction: 'auth/login',
            }),

            changeLanguage() {
                this.v$.$touch();
                if (this.v$.$invalid) {
                    this.setErrorMessage(this.$t('error.pleaseFillOutTheForm'));
                } else {
                    this.loading = true;
                    this.$recaptcha('changeLanguage').then(token => {
                        this.form.recaptcha = token;
                        this.form.id = this.user.id;
                        axios.post('/api/changeLanguage', this.form).then(response => {
                            this.loading = false;
                            this.form.recaptcha = '';
                            this.form.id = '';
                            if (response.data.success) {
                                this.setNotificationMessage(this.$t(response.data.message));
                                this.refreshUserDataAction();
                                this.$router.push({ name: 'Account' });
                            } else {
                                this.setErrorMessage(this.$t(response.data.message));

                                if (response.data.errors) {
                                    if (response.data.errors.language) {
                                        this.errors.language = response.data.errors.language;
                                    }
                                }
                            }
                        }).catch((error) => {
                            console.log(error);
                            this.form.recaptcha = '';
                            this.form.id = '';
                            this.loading = true;
                            this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch((error) => {
                        console.log(error);
                        this.form.recaptcha = '';
                        this.form.id = '';
                        this.loading = true;
                        this.setErrorMessage(this.$t('error.recaptchaError'));
                    });
                }
            },
        },

        created () {
            if (this.authenticated) {
                this.form.language = this.user.language;
            } else {
                this.setErrorMessage(this.$t('error.userNotFound'));
                this.$router.push({ name: 'Home' });
            }
        },
    }
</script>

<style scoped>

</style>
