<template>
    <v-container
        fluid
        grid-list-md
    >
        <v-row justify='center'>
            <v-col
                class='text-center'
                cols='12'
            >
                <h1>{{ $t('cookies.title') }}</h1>
            </v-col>

            <v-col
                class='my-3'
                cols='12'
                sm='10'
                md='8'
            >
                <div v-for='(item, i) in cookieInfoList' :key='i'>
                    <p class='pb-1'>
                        {{ $t(item.text) }}
                    </p>
                </div>

                <p class='font-weight-bold pt-3 pb-1'>
                    {{ $t(howDoWeUseCookies) }}
                </p>

                <p class='pb-1'> {{ $t(improveTheQuality) }} </p>
                <p class='pb-1'> {{ $t(weUseCookiesTo) }} </p>

                <ul class='pl-6 pb-1'>
                    <template v-for="(item, i) in howCookiesAreUsedList" :key="i">
                        <li> {{ $t(item.text) }} </li>
                    </template>
                </ul>

                <p class='pb-1'> {{ $t(cookiesEnsureStableFunctionality) }} </p>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        components: { },

        data () {
            return {
                cookieInfoList: [
                    { text: 'cookies.websiteUsesCookies' },
                    { text: 'cookies.rightToDisableTheUseOfCookies' },
                    { text: 'cookies.continueToUseThisWebsiteWithoutChangingTheDefaultSettings' },
                ],

                howDoWeUseCookies: 'cookies.howDoWeUseCookies',
                improveTheQuality: 'cookies.allCookiesAreUsedOnlyToImproveTheQualityOfTheWebsite',
                weUseCookiesTo: 'cookies.weUseCookiesTo',

                howCookiesAreUsedList: [
                    { text: 'cookies.ensureWebsiteFunctionality' },
                    { text: 'cookies.adaptTheFunctionalityOfTheWebsite' },
                ],

                cookiesEnsureStableFunctionality: 'cookies.cookiesUsedInThisOnlineStoreEnableTheWebsiteToWork',
            }
        },
    }
</script>

<style scoped>

</style>
