<template>
    <v-container
        class='py-4'
        fluid
    >
        <v-row justify='center'>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                class='text-center'
                cols='12'
                offset-md='4'
                md='4'
            >
                <h1>{{ $t('controlPanel.deliveryTypes') }}</h1>
            </v-col>

            <v-col
                cols='12'
                md='4'
                class='d-flex justify-end align-center'
            >
                <v-btn
                    v-if='authenticated && getIsActionVisible(refreshShippingDataBtn)'
                    class='mx-2'
                    color='light-blue-darken-4'
                    variant='outlined'
                    size='small'
                    :icon='refreshShippingDataBtn.icon'
                    v-on:click.prevent="refreshShippingData"
                    :loading="isShippingDataLoading"
                    :disabled="isShippingDataLoading"
                ></v-btn>
            </v-col>
        </v-row>

        <v-row
            justify='center'
            class='text-center mb-6'
        >
            <v-col
                v-if="isShippingDataLoading"
                cols='12'
            >
                <v-progress-circular
                    :size="40"
                    color='blue'
                    indeterminate
                ></v-progress-circular>
            </v-col>

            <v-col
                v-else-if="!shippingDataList.length"
                cols='12'
            >
                <h3>{{ $t('noShippingData') }}</h3>
            </v-col>

            <v-col
                v-else
                cols='12'
                sm='10'
                md='8'
            >
                <ShippingDataTable
                    :shippingDataList="shippingDataList"
                />
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import ShippingDataTable from '../components/tables/ShippingDataTable.vue';
    import SubNavigation from '../components/SubNavigation.vue';
    import useMessage from '../composables/useMessage';
    import useRole from '../composables/useRole';

    export default {
        components: {
            ShippingDataTable,
            SubNavigation,
        },

        setup () {
            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { getIsActionVisible } = useRole();

            return {
                setErrorMessage,
                setNotificationMessage,
                getIsActionVisible,
            };
        },

        data () {
            return {
                refreshShippingDataBtn: { title: '', path: '', icon: 'mdi-cached', role: 'seeShippingData' },

                navHelperItems: [
                    {
                        title: 'navigation.home',
                        disabled: false,
                        href: '/',
                    },
                    {
                        title: 'navigation.controlPanel',
                        disabled: false,
                        href: '/controlPanel',
                    },
                    {
                        title: 'controlPanel.deliveryTypes',
                        disabled: true,
                        href: '/controlPanel/deliveryTypes',
                    },
                ],
            }
        },

        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated',
                shippingDataList: 'shippingData/shippingDataList',
                isShippingDataLoading: 'shippingData/isLoading',
            }),
        },

        methods: {
            ...mapActions({
                getShippingDataAction: 'shippingData/getShippingData',
            }),

            refreshShippingData() {
                this.getShippingDataAction().then((refreshed) => {
                    this.setNotificationMessage(this.$t('dataUpdated'));
                }).catch((error) => {
                    console.log(error);
                    this.setErrorMessage(this.$t('error.error'));
                });
            },
        },

        created () {
            this.getShippingDataAction();
        },
    }
</script>

<style scoped>

</style>
