<template>
    <v-container
        class='py-4'
        fluid
    >
        <ConfirmDialog
            v-if="isConfirmDialogBoxVisible"
            :title="eventName"
            @data="prepareDialogData"
        />

        <v-row>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                class='text-center'
                cols='12'
                offset-md='4'
                md='4'
            >
                <h1>{{ $t('deliveryType.edit') }}</h1>
            </v-col>

            <v-col
                cols='12'
                md='4'
                class='d-flex justify-end align-center'
            >
                <v-btn
                    class='mx-2'
                    v-bind:color="isActiveOriginalValue ? 'red' : 'blue'"
                    variant='tonal'
                    v-on:click.prevent="setDialogData('markShippingData')"
                    :append-icon="isActiveOriginalValue ? 'mdi-eye-off' : 'mdi-eye'"
                    :loading="isLoading"
                    :disabled="isLoading || isRestrictedDeliveryType()"
                >
                    {{ isActiveOriginalValue ? $t('markAsInactive') : $t('markAsActive') }}
                </v-btn>
            </v-col>
        </v-row>

        <v-row justify='center'>
            <v-col
                class='mt-3'
                cols='12'
                sm='8'
                md='6'
            >
                <form @submit.prevent="editShippingData">
                    <p class='pb-3'>
                        {{ $t('deliveryType.type') + ':' }}
                        <span
                            v-if="form.deliveryType"
                            class="font-weight-bold"
                        >
                            {{ $t('enums.' + form.deliveryType) }}
                        </span>
                    </p>

                    <v-text-field
                        name="deliveryPrice"
                        v-model="form.deliveryPrice"
                        id="deliveryPrice"
                        :label="$t('deliveryType.shippingPrice')"
                        prefix="€"
                        variant='underlined'
                        :error-messages="fieldErrors('deliveryPrice')"
                        @update:model-value="v$.deliveryPrice.$touch()"
                        @blur="v$.deliveryPrice.$touch()"
                        @update:modelValue="resetFieldError('deliveryPrice')"
                        :disabled='isInStoreDeliveryType()'
                    ></v-text-field>

                    <v-text-field
                        name="freeDeliveryStartingPrice"
                        v-model="form.freeDeliveryStartingPrice"
                        id="freeDeliveryStartingPrice"
                        :label="$t('deliveryType.freeShippingStartingAt')"
                        prefix="€"
                        variant='underlined'
                        :error-messages="fieldErrors('freeDeliveryStartingPrice')"
                        @update:model-value="v$.freeDeliveryStartingPrice.$touch()"
                        @blur="v$.freeDeliveryStartingPrice.$touch()"
                        @update:modelValue="resetFieldError('freeDeliveryStartingPrice')"
                        :disabled='isInStoreDeliveryType()'
                    ></v-text-field>

                    <v-checkbox
                        :label="$t('isActive')"
                        name="isActive"
                        v-model="form.isActive"
                        id="isActive"
                        color='blue'
                        density='compact'
                        :error-messages="fieldErrors('isActive')"
                        @update:model-value="v$.isActive.$touch()"
                        @blur="v$.isActive.$touch()"
                        @update:modelValue="resetFieldError('isActive')"
                        :disabled='isRestrictedDeliveryType()'
                    />

                    <v-btn
                        color='blue'
                        variant='tonal'
                        type='submit'
                        class='text-center mt-4'
                        :loading='isLoading'
                        :disabled='isLoading'
                    >
                        {{ $t('edit') }}
                    </v-btn>
                </form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { computed } from 'vue'
    import { mapActions } from 'vuex';
    import { useVuelidate } from '@vuelidate/core';
    import { required, decimal, minValue, maxValue, helpers } from '@vuelidate/validators';
    import SubNavigation from '../components/SubNavigation.vue';
    import ConfirmDialog from '../components/ConfirmDialog.vue';
    import useMessage from '../composables/useMessage';
    import useFormData from '../composables/useFormData';
    import useErrorData from '../composables/useErrorData';
    import useFieldErrors from '../composables/useFieldErrors';
    import { $t } from "../locales/localization";

    export default {
        components: {
            SubNavigation,
            ConfirmDialog,
        },

        setup () {
            const { formValues } = useFormData(
                {
                    id: null,
                    deliveryType: null,
                    deliveryPrice: null,
                    freeDeliveryStartingPrice: null,
                    isActive: null,
                    recaptcha: '',
                },
            );
            const { errorValues } = useErrorData(
                {
                    deliveryType: null,
                    deliveryPrice: null,
                    freeDeliveryStartingPrice: null,
                    isActive: null,
                }
            );
            const validationRules = computed(() => {
                return {
                    deliveryType: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                    },
                    deliveryPrice: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        decimal: helpers.withMessage($t('validation.mayContainOnlyNaturalNumbersOrNumbersWithDot'), decimal),
                        minValue: helpers.withMessage($t('validation.mustBeAPositiveValue'), minValue(0.00)),
                        maxValue: helpers.withMessage($t('validation.numberTooLarge'), maxValue(2000000000.00)),
                    },
                    freeDeliveryStartingPrice: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        decimal: helpers.withMessage($t('validation.mayContainOnlyNaturalNumbersOrNumbersWithDot'), decimal),
                        minValue: helpers.withMessage($t('validation.mustBeAPositiveValue'), minValue(0.00)),
                        maxValue: helpers.withMessage($t('validation.numberTooLarge'), maxValue(2000000000.00)),
                    },
                    isActive: { },
                }
            });
            const v$ = useVuelidate(validationRules, formValues);

            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { fieldErrors, resetFieldError } = useFieldErrors(v$, errorValues);

            return {
                form: formValues,
                errors: errorValues,
                v$,
                setErrorMessage,
                setNotificationMessage,
                fieldErrors,
                resetFieldError,
            };
        },

        data () {
            return {
                isLoading: false,
                isConfirmDialogBoxVisible: false,
                isActiveOriginalValue: null,
                eventName: '',

                navHelperItems: [
                    {
                        title: 'navigation.home',
                        disabled: false,
                        href: '/',
                    },
                    {
                        title: 'navigation.controlPanel',
                        disabled: false,
                        href: '/controlPanel',
                    },
                    {
                        title: 'controlPanel.deliveryTypes',
                        disabled: false,
                        href: '/controlPanel/deliveryTypes',
                    },
                    {
                        title: 'deliveryType.edit',
                        disabled: true,
                        href: '/editShippingData/',
                    },
                ],

                restrictedDeliveryTypeList: [
                    'COURIER',
                    'IN_STORE'
                ]
            }
        },

        methods: {
            ...mapActions({
                getShippingDataAction: 'shippingData/getShippingData',
            }),

            editShippingData() {
                this.v$.$touch();
                if (this.v$.$invalid) {
                    this.setErrorMessage(this.$t('error.pleaseFillOutTheForm'));
                } else {
                    this.isLoading = true;
                    this.$recaptcha('editShippingData').then((token) => {
                        this.form.recaptcha = token;
                        axios.post('/api/createOrUpdateShippingData', this.form).then((response) => {
                            this.isLoading = false;
                            this.form.recaptcha = '';
                            if (response.data.success) {
                                this.setNotificationMessage(this.$t(response.data.message));
                                this.getShippingDataAction();
                                this.$router.push({ name: 'DeliveryTypes' });
                            } else {
                                this.setErrorMessage(this.$t(response.data.message));
                                if (response.data.errors) {
                                    if (response.data.errors.deliveryType) {
                                        this.errors.deliveryType = response.data.errors.deliveryType;
                                    }
                                    if (response.data.errors.deliveryPrice) {
                                        this.errors.deliveryPrice = response.data.errors.deliveryPrice;
                                    }
                                    if (response.data.errors.freeDeliveryStartingPrice) {
                                        this.errors.freeDeliveryStartingPrice = response.data.errors.freeDeliveryStartingPrice;
                                    }
                                    if (response.data.errors.isActive) {
                                        this.errors.isActive = response.data.errors.isActive;
                                    }
                                }
                            }
                        }).catch((error) => {
                            console.log(error);
                            this.form.recaptcha = '';
                            this.isLoading = true;
                            this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch((error) => {
                        console.log(error);
                        this.form.recaptcha = '';
                        this.isLoading = true;
                        this.setErrorMessage(this.$t('error.recaptchaError'));
                    });
                }
            },

            markShippingData(id) {
                this.isLoading = true;
                axios.get('/api/markShippingData/' + id).then((response) => {
                    this.isLoading = false;
                    if (response.data.success) {
                        this.setNotificationMessage(this.$t(response.data.message));
                        this.getShippingDataAction();
                        this.$router.push({ name: 'DeliveryTypes' });
                    } else {
                        this.setErrorMessage(this.$t(response.data.message));
                    }
                }).catch((error) => {
                    console.log(error);
                    this.isLoading = true;
                    this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                });
            },

            setDialogData(eventName) {
                this.isConfirmDialogBoxVisible = true;
                this.eventName = eventName;
            },

            prepareDialogData(payload) {
                this.isConfirmDialogBoxVisible = false;
                this.eventName = '';

                if (payload.isAccepted) {
                    if (payload.eventName === 'markShippingData') {
                        this.markShippingData(this.form.id);
                    }
                }
            },

            isRestrictedDeliveryType() {
                return this.restrictedDeliveryTypeList.includes(this.form.deliveryType);
            },

            isInStoreDeliveryType() {
                return this.form.deliveryType === 'IN_STORE';
            },
        },

        created () {
            if (!this.$route.params.id
                || !Number.isInteger(parseInt(this.$route.params.id))
                || parseInt(this.$route.params.id) <= 0
            ) {
                this.setErrorMessage(this.$t('error.recordNotFound'));
                this.$router.push({ name: 'DeliveryTypes' });
            } else {
                this.isLoading = true;
                axios.get('/api/getShippingData/' + this.$route.params.id).then((response) => {
                    this.isLoading = false;
                    if (response.data.success) {
                        this.form.id = response.data.shippingData.id;
                        this.form.deliveryType = response.data.shippingData.deliveryType;
                        this.form.deliveryPrice = response.data.shippingData.deliveryPriceInMinorUnit / 100;
                        this.form.freeDeliveryStartingPrice = response.data.shippingData.freeDeliveryStartingPriceInMinorUnit / 100;
                        this.form.isActive = !!response.data.shippingData.isActive;
                        this.isActiveOriginalValue = !!response.data.shippingData.isActive;
                    } else {
                        this.setErrorMessage(this.$t('error.recordNotFound'));
                        this.$router.push({ name: 'DeliveryTypes' });
                    }
                }).catch((error) => {
                    console.log(error);
                    this.isLoading = true;
                    this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                    this.$router.push({ name: 'DeliveryTypes' });
                });
            }
        },
    }
</script>

<style scoped>

</style>
