<template>
    <v-container
        class='py-4'
        fluid
    >
        <ConfirmDialog
            v-if="isConfirmDialogBoxVisible"
            :title="eventName"
            @data="prepareDialogData"
        />

        <v-row justify='center'>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                class='text-center'
                cols='12'
                offset-md='4'
                md='4'
            >
                <h1>{{ $t('editUserData') }}</h1>
            </v-col>

            <v-col
                cols='12'
                md='4'
                class='d-flex justify-end align-center'
            >
                <v-btn
                    v-if='getIsActionVisible(verifyEmailBtn) && user.id !== form.id && !form.isConfirmed'
                    color='blue'
                    variant='tonal'
                    class='mx-2'
                    v-on:click.prevent="setDialogData('sendVerification')"
                    :prepend-icon='verifyEmailBtn.icon'
                    :loading="loading"
                    :disabled="loading"
                >
                    {{ $t(verifyEmailBtn.title) }}
                </v-btn>

                <v-btn
                    v-if='getIsActionVisible(confirmUserBtn) && user.id !== form.id && !form.isConfirmed'
                    color='blue'
                    variant='tonal'
                    class='mx-2'
                    v-on:click.prevent="setDialogData('confirmUser')"
                    :prepend-icon='confirmUserBtn.icon'
                    :loading="loading"
                    :disabled="loading"
                >
                    {{ $t(confirmUserBtn.title) }}
                </v-btn>

                <v-btn
                    v-if="getIsActionAllowed(markUserRole) && user.id !== form.id"
                    class="ml-2"
                    v-bind:color="form.isBlocked ? 'blue' : 'red'"
                    variant='tonal'
                    v-on:click.prevent="setDialogData('markUser')"
                    :append-icon="form.isActive ? 'mdi-eye-off' : 'mdi-eye'"
                    :loading="loading"
                    :disabled="loading"
                >
                    {{ form.isBlocked ? $t('unblock') : $t('block') }}
                </v-btn>
            </v-col>
        </v-row>

        <v-row justify='center'>
            <v-col
                class='mt-3'
                cols='12'
                sm='8'
                md='6'
            >
                <form @submit.prevent="editUser">
                    <v-text-field
                        name="username"
                        v-model="form.username"
                        id="username"
                        :label="$t('username')"
                        type="text"
                        variant='underlined'
                        :counter="64"
                        :disabled="!getIsActionAllowed(superAdminRole)"
                        :error-messages="fieldErrors('username')"
                        @blur="v$.username.$touch()"
                        @update:modelValue="resetFieldError('username')"
                    ></v-text-field>

                    <v-text-field
                        name="email"
                        v-model="form.email"
                        id="email"
                        :label="$t('email')"
                        type="email"
                        variant='underlined'
                        :disabled="!getIsActionAllowed(superAdminRole)"
                        :error-messages="fieldErrors('email')"
                        @blur="v$.email.$touch()"
                        @update:modelValue="resetFieldError('email')"
                    ></v-text-field>

                    <v-autocomplete
                        name="language"
                        v-model="form.language"
                        id="language"
                        :label="$t('language')"
                        :items="getSelectionItems(languagesEnum)"
                        item-title="text"
                        item-value="value"
                        :placeholder="$t('chooseLanguage')"
                        variant='underlined'
                        :error-messages="fieldErrors('language')"
                        @update:model-value="v$.language.$touch()"
                        @blur="v$.language.$touch()"
                        @update:modelValue="resetFieldError('language')"
                    ></v-autocomplete>

                    <v-checkbox
                        :label="$t('isBlocked')"
                        name="isBlocked"
                        v-model="form.isBlocked"
                        id="isBlocked"
                        color='blue'
                        density='compact'
                        :disabled="!getIsActionAllowed(markUserRole) || user.id === form.id"
                        :error-messages="fieldErrors('isBlocked')"
                        @update:model-value="v$.isBlocked.$touch()"
                        @blur="v$.isBlocked.$touch()"
                        @update:modelValue="resetFieldError('isBlocked')"
                    />

                    <v-autocomplete
                        name="roles"
                        v-model="form.roles"
                        id="roles"
                        :label="$t('allowedRoles')"
                        :items="getAvailableRoles()"
                        :placeholder="$t('chooseRoles')"
                        variant='underlined'
                        chips
                        multiple
                        clearable
                        closable-chips
                        :error-messages="fieldErrors('roles')"
                        @update:model-value="v$.roles.$touch()"
                        @blur="v$.roles.$touch()"
                        @update:modelValue="resetFieldError('roles')"
                    ></v-autocomplete>

                    <v-btn
                        color='blue'
                        variant='tonal'
                        type='submit'
                        class='text-center mt-4'
                        :loading='loading'
                        :disabled='loading'
                    >
                        {{ $t('edit') }}
                    </v-btn>
                </form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { computed, ref } from 'vue'
    import { mapGetters, mapActions } from 'vuex';
    import { useVuelidate } from '@vuelidate/core';
    import { required, maxLength, minLength, email, helpers } from '@vuelidate/validators';
    import SubNavigation from '../components/SubNavigation.vue';
    import ConfirmDialog from '../components/ConfirmDialog.vue';
    import useUserRules from '../composables/rules/useUserRules';
    import useMessage from '../composables/useMessage';
    import useFormData from '../composables/useFormData';
    import useErrorData from '../composables/useErrorData';
    import useFieldErrors from '../composables/useFieldErrors';
    import useSelection from '../composables/useSelection';
    import useRole from '../composables/useRole';
    import { $t } from "../locales/localization";

    export default {
        components: {
            SubNavigation,
            ConfirmDialog,
        },

        setup () {
            const isLoading = ref(false);

            const { formValues } = useFormData(
                {
                    id: null,
                    username: null,
                    originalUsername: null,
                    email: null,
                    originalEmail: null,
                    language: null,
                    isBlocked: false,
                    isConfirmed: false,
                    roles: [],
                    recaptcha: '',
                },
            );
            const { errorValues } = useErrorData(
                {
                    username: null,
                    email: null,
                    language: null,
                    isBlocked: null,
                    roles: null,
                }
            );
            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { getSelectionItems } = useSelection();
            const { getIsActionVisible, getIsActionAllowed, getAvailableRoles } = useRole();
            const { isUsernameAvailableRule, isEmailAvailableRule } = useUserRules(formValues, isLoading);

            const validationRules = computed(() => {
                return {
                    username: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        minLength: helpers.withMessage($t('validation.mustBeAtLeastCharsLong', { num: '3' }), minLength(3)),
                        maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '64' }), maxLength(64)),
                        isUsernameAvailable: formValues.username === formValues.originalUsername
                            ? true
                            : isUsernameAvailableRule,
                    },
                    email: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        email: helpers.withMessage($t('validation.invalidEmail'), email),
                        maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '256' }), maxLength(256)),
                        isEmailAvailable: formValues.email === formValues.originalEmail
                            ? true
                            : isEmailAvailableRule,
                    },
                    language: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                    },
                    isBlocked: { },
                    roles: { },
                }
            });

            const v$ = useVuelidate(validationRules, formValues);

            const { fieldErrors, resetFieldError } = useFieldErrors(v$, errorValues);

            return {
                form: formValues,
                loading: isLoading,
                errors: errorValues,
                v$,
                setErrorMessage,
                setNotificationMessage,
                getSelectionItems,
                getIsActionVisible,
                getIsActionAllowed,
                getAvailableRoles,
                fieldErrors,
                resetFieldError,
            };
        },

        data () {
            return {
                isConfirmDialogBoxVisible: false,
                eventName: '',
                navHelperItems: [
                    {
                        title: 'navigation.home',
                        disabled: false,
                        href: '/',
                    },
                    {
                        title: 'navigation.controlPanel',
                        disabled: false,
                        href: '/controlPanel',
                    },
                    {
                        title: 'controlPanel.users',
                        disabled: false,
                        href: '/controlPanel/users',
                    },
                    {
                        title: 'editUserData',
                        disabled: true,
                        href: '/editUser/',
                    },
                ],
                confirmUserBtn: { title: 'confirm', icon: 'mdi-account-check-outline', role: 'confirmUser' },
                verifyEmailBtn: { title: 'verifyEmail', icon: 'mdi-email-outline', role: 'confirmUser' },
                superAdminRole: 'superAdmin',
                markUserRole: 'markUser',
            }
        },

        computed: {
            ...mapGetters({
                user: 'auth/user',
                languagesEnum: 'enums/languages',
            }),
        },

        methods: {
            ...mapActions({
                getAllRolesListAction: 'auth/getAllRoles',
                getUsersAction: 'users/getUsers',
            }),

            editUser() {
                this.v$.$touch();
                if (this.v$.$invalid) {
                    this.setErrorMessage(this.$t('error.pleaseFillOutTheForm'));
                } else {
                    this.loading = true;
                    this.$recaptcha('editUser').then(token => {
                        this.form.recaptcha = token;
                        axios.post('/api/editUser', this.form).then((response) => {
                            this.loading = false;
                            this.form.recaptcha = '';
                            if (response.data.success) {
                                this.setNotificationMessage(this.$t(response.data.message));
                                this.$router.push({ name: 'Users' });
                            } else {
                                this.setErrorMessage(this.$t(response.data.message));

                                if (response.data.errors) {
                                    if (response.data.errors.username) {
                                        this.errors.username = response.data.errors.username;
                                    }
                                    if (response.data.errors.email) {
                                        this.errors.email = response.data.errors.email;
                                    }
                                    if (response.data.errors.language) {
                                        this.errors.language = response.data.errors.language;
                                    }
                                    if (response.data.errors.isBlocked) {
                                        this.errors.isBlocked = response.data.errors.isBlocked;
                                    }
                                    if (response.data.errors.roles) {
                                        this.errors.roles = response.data.errors.roles;
                                    }
                                }
                            }
                        }).catch((error) => {
                            console.log(error);
                            this.form.recaptcha = '';
                            this.loading = true;
                            this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch((error) => {
                        console.log(error);
                        this.form.recaptcha = '';
                        this.loading = true;
                        this.setErrorMessage(this.$t('error.recaptchaError'));
                    });
                }
            },

            markUser(id) {
                this.loading = true;
                axios.get('/api/markUser/' + id).then(response => {
                    this.loading = false;
                    if (response.data.success) {
                        this.setNotificationMessage(this.$t(response.data.message));
                        this.$router.push({ name: 'Users' });
                    } else {
                        this.setErrorMessage(this.$t(response.data.message));
                    }
                }).catch((error) => {
                    console.log(error);
                    this.loading = true;
                    this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                });
            },

            confirmUser(id) {
                this.loading = true;
                axios.get('/api/confirmUser/' + id).then(response => {
                    this.loading = false;
                    if (response.data.success) {
                        this.setNotificationMessage(this.$t(response.data.message));
                        this.getUsersAction();
                        this.$router.push({ name: 'Users' });
                    } else {
                        this.setErrorMessage(this.$t(response.data.message));
                    }
                }).catch((error) => {
                    console.log(error);
                    this.loading = true;
                    this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                });
            },

            sendEmailVerificationMail(id) {
                this.loading = true;
                axios.get('/api/resendVerification/' + id).then(response => {
                    this.loading = false;
                    if (response.data.success) {
                        this.setNotificationMessage(this.$t(response.data.message));
                        this.getUsersAction();
                        this.$router.push({ name: 'Users' });
                    } else {
                        this.setErrorMessage(this.$t(response.data.message));
                    }
                }).catch((error) => {
                    console.log(error);
                    this.loading = true;
                    this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                });
            },

            setDialogData(eventName){
                this.isConfirmDialogBoxVisible = true;
                this.eventName = eventName;
            },

            prepareDialogData(payload) {
                this.isConfirmDialogBoxVisible = false;
                this.eventName = '';

                if (payload.isAccepted) {
                    if (payload.eventName === 'markUser') {
                        this.markUser(this.form.id);
                    } else if (payload.eventName === 'confirmUser') {
                        this.confirmUser(this.form.id);
                    } else if (payload.eventName === 'sendVerification') {
                        this.sendEmailVerificationMail(this.form.id);
                    }
                }
            },
        },

        created () {
            if (!this.$route.params.id
                || !Number.isInteger(parseInt(this.$route.params.id))
                || parseInt(this.$route.params.id) <= 0
            ) {
                this.setErrorMessage(this.$t('error.userNotFound'));
                this.$router.push({ name: 'Users' });
            } else {
                this.loading = true;
                axios.get('/api/getUser/' + this.$route.params.id).then(response => {
                    this.loading = false;
                    if (response.data.success) {
                        this.form.id = response.data.user.id;
                        if (this.form.id === 1 && this.user.id !== 1) {
                            this.setErrorMessage(this.$t('error.userNotFound'));
                            this.$router.push({ name: 'Users' });
                        }

                        this.form.username = response.data.user.username;
                        this.form.originalUsername = response.data.user.username;
                        this.form.email = response.data.user.email;
                        this.form.originalEmail = response.data.user.email;
                        this.form.language = response.data.user.language;
                        this.form.isBlocked = !!response.data.user.isBlocked;
                        this.form.isConfirmed = !!response.data.user.isConfirmed;

                        this.form.roles = [];
                        response.data.user.roles.forEach(record => {
                            this.form.roles.push( record.role );
                        });
                    } else {
                        this.setErrorMessage(this.$t('error.userNotFound'));
                        this.$router.push({ name: 'Users' });
                    }
                }).catch((error) => {
                    console.log(error);
                    this.loading = true;
                    this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                    this.$router.push({ name: 'Users' });
                });
            }
            this.getAllRolesListAction();
        },
    }
</script>

<style scoped>

</style>
