<template>
    <v-container
        class='py-4'
        fluid
    >
        <ConfirmDialog
            v-if="isConfirmDialogBoxVisible"
            :title="eventName"
            @data="prepareDialogData"
        />

        <v-row>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                class='text-center'
                cols='12'
                offset-md='4'
                md='4'
            >
                <h1>{{ $t('editItem') }}</h1>
            </v-col>

            <v-col
                cols='12'
                md='4'
                class='d-flex justify-end align-center'
            >
                <v-btn
                    class='mx-2'
                    v-bind:color="form.isActive ? 'red' : 'blue'"
                    variant='tonal'
                    v-on:click.prevent="setDialogData('markEntry')"
                    :append-icon="form.isActive ? 'mdi-eye-off' : 'mdi-eye'"
                    :loading="loading"
                    :disabled="loading"
                >
                    {{ form.isActive ? $t('markAsInactive') : $t('markAsActive') }}
                </v-btn>

                <v-btn
                    class='mx-2'
                    color='red'
                    v-on:click.prevent="setDialogData('deleteEntry')"
                    append-icon='mdi-close'
                    :loading="loading"
                    :disabled="loading"
                >
                    {{ $t('delete') }}
                </v-btn>
            </v-col>
        </v-row>

        <v-row justify='center'>
            <v-col
                class='mt-3'
                cols='12'
                sm='8'
                md='6'
            >
                <form @submit.prevent="editCarouselItem">
                    <VuetifyTiptap
                        class="pt-2 pb-1"
                        name="title"
                        v-model="form.title"
                        id="title"
                        :dark="true"
                        :outlined="true"
                        required
                        @update:model-value="v$.title.$touch()"
                        @blur="v$.title.$touch()"
                        @update:modelValue="resetFieldError('title')"
                    />
                    <div
                        v-if='v$.title.$invalid'
                        class='text-red-lighten-1 pb-1'
                    >
                        {{ fieldErrors('title')[0] }}
                    </div>

                    <v-autocomplete
                        name="language"
                        v-model="form.language"
                        id="language"
                        :label="$t('descriptionLanguage')"
                        :items="getSelectionItems(getListWithNotSpecified(languagesEnum))"
                        item-title="text"
                        item-value="value"
                        :placeholder="$t('chooseLanguage')"
                        variant='underlined'
                        clearable
                        :error-messages="fieldErrors('language')"
                        @update:model-value="v$.language.$touch()"
                        @blur="v$.language.$touch()"
                        @update:modelValue="resetFieldError('language')"
                    ></v-autocomplete>

                    <v-checkbox
                        :label="$t('isActive')"
                        name="isActive"
                        v-model="form.isActive"
                        id="isActive"
                        color='blue'
                        density='compact'
                        :error-messages="fieldErrors('isActive')"
                        @update:model-value="v$.isActive.$touch()"
                        @blur="v$.isActive.$touch()"
                        @update:modelValue="resetFieldError('isActive')"
                    />

                    <v-img
                        v-if='!form.isImageReplaced'
                        max-height='300'
                        :src='getImageUrl(form.storedImage.path, form.storedImage.name)'
                    ></v-img>

                    <v-checkbox
                        :label="$t('replaceExistingImage')"
                        name="isImageReplaced"
                        v-model="form.isImageReplaced"
                        id="isImageReplaced"
                        color='blue'
                        density='compact'
                        :error-messages="fieldErrors('isImageReplaced')"
                        @update:model-value="v$.isImageReplaced.$touch()"
                        @blur="v$.isImageReplaced.$touch()"
                        @update:modelValue="resetFieldError('isImageReplaced')"
                    />

                    <v-file-input
                        v-if='form.isImageReplaced'
                        v-model="form.newImage.data"
                        :label="$t('image')"
                        accept='image/png, image/jpeg, image/jpg, image/bmp, image/webp'
                        :placeholder="$t('chooseImage')"
                        prepend-icon='mdi-camera'
                        variant='underlined'
                        clearable
                        show-size
                        :error-messages="fieldErrors('newImage')"
                        @change="createSingleImage()"
                        @click:clear="deleteSingleImage()"
                        @update:modelValue="resetFieldError('newImage')"
                    ></v-file-input>

                    <v-img
                        v-if='form.newImage.preview'
                        max-height='300'
                        :src="form.newImage.preview"
                    ></v-img>

                    <v-btn
                        color='blue'
                        variant='tonal'
                        type='submit'
                        class='text-center mt-4'
                        :loading='loading'
                        :disabled='loading'
                    >
                        {{ $t('edit') }}
                    </v-btn>
                </form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { computed } from 'vue'
    import { mapGetters, mapActions } from 'vuex';
    import { useVuelidate } from '@vuelidate/core';
    import {  maxLength, helpers } from '@vuelidate/validators';
    import SubNavigation from '../components/SubNavigation.vue';
    import ConfirmDialog from '../components/ConfirmDialog.vue';
    import useMessage from '../composables/useMessage';
    import useSelection from '../composables/useSelection';
    import useUrl from '../composables/useUrl';
    import useFormData from '../composables/useFormData';
    import useErrorData from '../composables/useErrorData';
    import useImage from '../composables/useImage';
    import useImageRules from '../composables/rules/useImageRules';
    import useFieldErrors from '../composables/useFieldErrors';
    import { $t } from "../locales/localization";

    export default {
        components: {
            SubNavigation,
            ConfirmDialog,
        },

        setup () {
            const { formValues } = useFormData(
                {
                    id: null,
                    title: '',
                    language: '',
                    isActive: true,
                    isImageReplaced: false,
                    storedImage: {
                        path: '',
                        name: '',
                    },
                    newImage: {
                        data: null,
                        base64: '',
                        preview: '',
                    },
                    recaptcha: '',
                },
            );
            const { errorValues } = useErrorData(
                {
                    title: null,
                    language: null,
                    isActive: null,
                    isImageReplaced: null,
                    newImage: null,
                }
            );
            const { createSingleImage, deleteSingleImage } = useImage(
                {
                    new: 'newImage',
                },
                formValues,
            );
            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { getSelectionItems, getListWithNotSpecified } = useSelection();
            const { getImageUrl } = useUrl();
            const { requiredIfRule, additionalImageRules } = useImageRules();

            const validationRules = computed(() => {
                return {
                    title: {
                        maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '256' }), maxLength(256)),
                    },
                    language: { },
                    isActive: { },
                    isImageReplaced: { },
                    newImage: additionalImageRules( { required: requiredIfRule(formValues.isImageReplaced) } )
                }
            });

            const v$ = useVuelidate(validationRules, formValues);

            const { fieldErrors, resetFieldError } = useFieldErrors(v$, errorValues);

            return {
                form: formValues,
                errors: errorValues,
                createSingleImage,
                deleteSingleImage,
                v$,
                setErrorMessage,
                setNotificationMessage,
                getSelectionItems,
                getListWithNotSpecified,
                getImageUrl,
                fieldErrors,
                resetFieldError,
            };
        },

        data () {
            return {
                loading: false,
                isConfirmDialogBoxVisible: false,
                eventName: '',
                navHelperItems: [
                    {
                        title: 'navigation.home',
                        disabled: false,
                        href: '/',
                    },
                    {
                        title: 'editItem',
                        disabled: true,
                        href: '/editCarouselItem/',
                    },
                ],
            }
        },

        computed: {
            ...mapGetters({
                languagesEnum: 'enums/languages',
            }),
        },

        methods: {
            ...mapActions({
                getCarouselItemsAction: 'carousel/getCarouselItems',
            }),

            editCarouselItem() {
                this.v$.$touch();
                if (this.v$.$invalid) {
                    this.setErrorMessage(this.$t('error.pleaseFillOutTheForm'));
                } else {
                    this.loading = true;
                    this.$recaptcha('editCarouselItem').then(token => {
                        this.form.recaptcha = token;
                        axios.post('/api/editCarouselItem', this.form).then(response => {
                            this.loading = false;
                            this.form.recaptcha = '';
                            if (response.data.success) {
                                this.setNotificationMessage(this.$t(response.data.message));
                                this.getCarouselItemsAction();
                                this.$router.push({ name: 'Home' });
                            } else {
                                this.setErrorMessage(this.$t(response.data.message));

                                if (response.data.errors) {
                                    if (response.data.errors.title) {
                                        this.errors.title = response.data.errors.title;
                                    }
                                    if (response.data.errors.language) {
                                        this.errors.language = response.data.errors.language;
                                    }
                                    if (response.data.errors.isActive) {
                                        this.errors.isActive = response.data.errors.isActive;
                                    }
                                    if (response.data.errors.isImageReplaced) {
                                        this.errors.isImageReplaced = response.data.errors.isImageReplaced;
                                    }
                                    if (response.data.errors.newImage) {
                                        this.errors.newImage = Object.values(response.data.errors.newImage);
                                    }
                                    if (response.data.errors['newImage.base64']) {
                                        this.errors.newImage = response.data.errors['newImage.base64'];
                                    }
                                }
                            }
                        }).catch((error) => {
                            console.log(error);
                            this.form.recaptcha = '';
                            this.loading = true;
                            this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch((error) => {
                        console.log(error);
                        this.form.recaptcha = '';
                        this.loading = true;
                        this.setErrorMessage(this.$t('error.recaptchaError'));
                    });
                }
            },

            markItem(id) {
                this.loading = true;
                axios.get('/api/markCarouselItem/' + id).then(response => {
                    this.loading = false;
                    if (response.data.success) {
                        this.setNotificationMessage(this.$t(response.data.message));
                        this.getCarouselItemsAction();
                        this.$router.push({ name: 'Home' });
                    } else {
                        this.setErrorMessage(this.$t(response.data.message));
                    }
                }).catch((error) => {
                    console.log(error);
                    this.loading = true;
                    this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                });
            },

            deleteItem(id) {
                this.loading = true;
                axios.get('/api/deleteCarouselItem/' + id).then(response => {
                    this.loading = false;
                    if (response.data.success) {
                        this.setNotificationMessage(this.$t(response.data.message));
                        this.getCarouselItemsAction();
                        this.$router.push({ name: 'Home' });
                    } else {
                        this.setErrorMessage(this.$t(response.data.message));
                    }
                }).catch((error) => {
                    console.log(error);
                    this.loading = true;
                    this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                });
            },

            setDialogData(eventName){
                this.isConfirmDialogBoxVisible = true;
                this.eventName = eventName;
            },

            prepareDialogData(payload) {
                this.isConfirmDialogBoxVisible = false;
                this.eventName = '';

                if (payload.isAccepted) {
                    if (payload.eventName === 'markEntry') {
                        this.markItem(this.form.id);
                    } else if (payload.eventName === 'deleteEntry') {
                        this.deleteItem(this.form.id);
                    }
                }
            },
        },

        created () {
            if (!this.$route.params.id
                || !Number.isInteger(parseInt(this.$route.params.id))
                || parseInt(this.$route.params.id) <= 0
            ) {
                this.setErrorMessage(this.$t('error.recordNotFound'));
                this.$router.push({ name: 'Home' });
            } else {
                this.loading = true;
                axios.get('/api/getCarouselItem/' + this.$route.params.id).then(response => {
                    this.loading = false;
                    if (response.data.success) {
                        this.form.id = response.data.item.id;
                        this.form.title = response.data.item.title;
                        this.form.language = response.data.item.language;
                        if (this.form.language === null) {
                            this.form.language = '-';
                        }
                        this.form.storedImage.name = response.data.item.imageName;
                        this.form.storedImage.path = response.data.item.imagePath;
                        this.form.isActive = !!response.data.item.isActive;
                    } else {
                        this.setErrorMessage(this.$t('error.recordNotFound'));
                        this.$router.push({ name: 'Home' });
                    }
                }).catch((error) => {
                    console.log(error);
                    this.loading = true;
                    this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                    this.$router.push({ name: 'Home' });
                });
            }
        },
    }
</script>

<style scoped>

</style>
