<template>
    <v-row
        justify='center'
        class='py-16 pa-2'
    >
        <v-col
            class='text-center'
            cols='12'
        >
            <h1>{{ $t('authentication') }}</h1>
        </v-col>

        <v-col
            cols='12'
            sm='6'
            md='4'
        >
            <form @submit.prevent="signIn">
                <v-text-field
                    name="email"
                    v-model="form.email"
                    id="email"
                    type="text"
                    variant="underlined"
                    :label="$t('emailOrUsername')"
                    :error-messages="emailErrors"
                    required
                    @update:model-value="v$.form.email.$touch()"
                    @blur="v$.form.email.$touch()"
                ></v-text-field>

                <v-text-field
                    name="password"
                    v-model="form.password"
                    id="password"
                    type="password"
                    variant="underlined"
                    :label="$t('password')"
                    :error-messages="passwordErrors"
                    required
                    @update:model-value="v$.form.password.$touch()"
                    @blur="v$.form.password.$touch()"
                ></v-text-field>

                <v-btn
                    color='blue'
                    variant='tonal'
                    type='submit'
                    :loading="loading"
                    :disabled="loading"
                    class='text-center mt-4'
                >
                    {{ $t('navigation.login') }}
                </v-btn>
            </form>
        </v-col>
    </v-row>
</template>

<script>
    import { mapActions } from 'vuex';
    import { useVuelidate } from '@vuelidate/core';
    import { required, helpers } from '@vuelidate/validators';
    import useMessage from '../composables/useMessage';
    import useActions from '../composables/useActions';

    export default {
        name: 'login',

        components: { },

        setup () {
            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { updateStore } = useActions();

            return {
                v$: useVuelidate(),
                setErrorMessage,
                setNotificationMessage,
                updateStore
            };
        },

        validations () {
            return {
                form: {
                    email: {
                        required: helpers.withMessage(this.$t('validation.requiredField'), required),
                    },
                    password: {
                        required: helpers.withMessage(this.$t('validation.requiredField'), required),
                    },
                },
            }
        },

        data () {
            return {
                form: {
                    email: '',
                    password: '',
                    recaptcha: '',
                },
                loading: false,
            }
        },

        computed: {
            emailErrors () {
                const errors = [];
                if (!this.v$.form.email.$dirty) {
                    return errors;
                }
                this.v$.form.email.$errors.forEach((error) => {
                    errors.push(error.$message);
                });
                return errors;
            },

            passwordErrors () {
                const errors = [];
                if (!this.v$.form.password.$dirty) {
                    return errors;
                }
                this.v$.form.password.$errors.forEach((error) => {
                    errors.push(error.$message);
                });
                return errors;
            },
        },

        methods: {
            ...mapActions({
                signInAction: 'auth/login',
            }),

            signIn() {
                this.v$.$touch();
                if (this.v$.$invalid) {
                    this.setErrorMessage(this.$t('error.pleaseFillOutTheForm'));
                } else {
                    this.loading = true;
                    this.$recaptcha('login').then(token => {
                        this.form.recaptcha = token;
                        axios.get('/sanctum/csrf-cookie').then(response => {
                            axios.post('/api/login', this.form).then(response => {
                                this.loading = false;
                                this.form.recaptcha = '';
                                if (response.data.success) {
                                    this.setNotificationMessage(this.$t('authenticationSuccessful'));
                                    this.signInAction();
                                    this.updateStore();
                                    this.$router.push({ name: 'Home' });
                                } else {
                                    this.setErrorMessage(this.$t(response.data.message));
                                }
                            }).catch((error) => {
                                console.log(error);
                                this.form.recaptcha = '';
                                this.loading = true;
                                this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                            });
                        }).catch((error) => {
                            console.log(error);
                            this.form.recaptcha = '';
                            this.loading = true;
                            this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch((error) => {
                        console.log(error);
                        this.form.recaptcha = '';
                        this.loading = true;
                        this.setErrorMessage(this.$t('error.recaptchaError'));
                    });
                }
            },
        },
    }
</script>

<style scoped>

</style>
