<template>
    <v-dialog
        v-model="isDialogBoxVisible"
        width='auto'
    >
        <v-card width="400">
            <v-card-actions class="justify-end">
                <v-btn
                    color='white'
                    variant='text'
                    icon='mdi-close'
                    v-on:click="closeDialog()"
                ></v-btn>
            </v-card-actions>

            <v-card-title>
                <span class="text-h5">{{ $t('message.sendAgain') }}</span>
            </v-card-title>

            <v-card-actions class='justify-end'>
                <v-btn
                    color='red'
                    variant='text'
                    :loading='isLoading'
                    v-on:click="closeDialog()"
                >
                    {{ $t('cancel') }}
                </v-btn>

                <v-btn
                    color='blue'
                    variant='text'
                    :loading='isLoading'
                    v-on:click.prevent="sendAgain()"
                >
                    {{ $t('send') }}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

    <v-container
        class='py-4'
        fluid
    >
        <v-row justify='center'>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                class='text-center'
                cols='12'
            >
                <h1>{{ $t('messageContent') }}</h1>
            </v-col>

            <v-col
                class='my-5'
                cols='12'
                sm='10'
                md='6'
            >
                <v-list
                    lines='two'
                    density='comfortable'
                >
                    <template
                        v-for="(item, i) in getPreparedMessageDataList" :key="i"
                    >
                        <v-list-item>
                            <v-list-item-title class='font-weight-regular'>
                                {{ item.title }}
                            </v-list-item-title>

                            <template v-slot:append>
                                <p
                                    v-if='item.value'
                                    class='font-weight-bold'
                                >
                                    {{ item.value }}
                                </p>

                                <p v-if='item.datetime'>
                                    {{ getTimeAgoValue(item.datetime) }}
                                    <v-tooltip activator='parent'>
                                        {{ item.datetime }}
                                    </v-tooltip>
                                </p>

                                <v-btn
                                    v-if='item.isEditable'
                                    color='blue'
                                    variant='tonal'
                                    icon='mdi-email-outline'
                                    class='ml-2'
                                    size='small'
                                    :loading='isLoading'
                                    :disabled="!getIsActionAllowed(replyRole) || isLoading || !showResendAgainButton"
                                    @click="toggleIsDialogBoxVisible()"
                                ></v-btn>
                            </template>
                        </v-list-item>

                        <v-divider class='border-opacity-25'></v-divider>
                    </template>
                </v-list>
            </v-col>

            <v-divider></v-divider>

            <v-col
                class='text-center mt-8'
                cols='12'
            >
                <h1>{{ $t('chat') }}</h1>
            </v-col>
        </v-row>

        <v-row justify='start'>
            <v-col
                cols='12'
                sm='10'
                md='7'
            >
                <v-card
                    elevation='6'
                    density='comfortable'
                    color='grey-darken-3'
                    variant='tonal'
                >
                    <v-card-text class='text-body-2 font-weight-medium text-white pb-0'>
                        <VuetifyViewer
                            v-if='messageData.description'
                            :value="messageData.description"
                        />
                    </v-card-text>

                    <v-card-actions class='justify-end text-caption text-white py-0'>
                        {{ getTimeAgoValue(messageData.createdAt) }}
                        <v-tooltip activator='parent'>
                            {{ messageData.createdAt }}
                        </v-tooltip>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>

        <v-row justify='end' class='mb-4'>
            <v-col
                v-for="(reply, i) in replies" :key="i"
                cols='12'
                sm='10'
                md='7'
            >
                <v-card
                    elevation='6'
                    density='comfortable'
                    color='green'
                    variant='tonal'
                >
                    <v-card-text class='text-body-2 font-weight-medium text-white pb-0'>
                        <VuetifyViewer
                            v-if='reply.description'
                            :value="reply.description"
                        />
                    </v-card-text>

                    <v-card-actions class='justify-end text-caption text-white py-0'>
                        {{ getTimeAgoValue(reply.createdAt) }}
                        <v-tooltip activator='parent'>
                            {{ reply.createdAt }}
                        </v-tooltip>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>

        <v-divider></v-divider>

        <v-row justify='center'>
            <v-col
                class='text-center mt-8'
                cols='12'
            >
                <h1>{{ $t('addResponse') }}</h1>
            </v-col>

            <v-col
                class='mt-3'
                cols='12'
                sm='8'
                md='6'
            >
                <form @submit.prevent="reply">
                    <VuetifyTiptap
                        class="pt-2"
                        name="replyText"
                        v-model="form.replyText"
                        id="replyText"
                        :dark="true"
                        :outlined="true"
                        required
                        @update:model-value="v$.replyText.$touch()"
                        @blur="v$.replyText.$touch()"
                        @update:modelValue="resetFieldError('description')"
                    />
                    <div
                        v-if='v$.replyText.$invalid'
                        class='text-red-lighten-1'
                    >
                        {{ fieldErrors('replyText')[0] }}
                    </div>

                    <v-btn
                        color='blue'
                        variant='tonal'
                        type='submit'
                        class='text-center mt-4'
                        :loading='isLoading'
                        :disabled="isLoading || !getIsActionAllowed(replyRole)"
                    >
                        {{ $t('answer') }}
                    </v-btn>
                </form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { computed } from 'vue'
    import { mapGetters, mapActions } from 'vuex';
    import { useVuelidate } from '@vuelidate/core';
    import { required, maxLength, minLength, helpers } from '@vuelidate/validators';
    import SubNavigation from '../components/SubNavigation.vue';
    import useFormData from '../composables/useFormData';
    import useErrorData from '../composables/useErrorData';
    import useFieldErrors from '../composables/useFieldErrors';
    import useMessage from '../composables/useMessage';
    import useRole from '../composables/useRole';
    import useTimeAgo from '../composables/useTimeAgo';
    import { $t } from "../locales/localization";

    export default {
        components: {
            SubNavigation,
        },

        setup () {
            const { formValues } = useFormData(
                {
                    id: null,
                    replyText: null,
                    recaptcha: '',
                }
            );
            const { errorValues } = useErrorData(
                {
                    replyText: null,
                }
            );
            const validationRules = computed(() => {
                return {
                    replyText: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        minLength: helpers.withMessage($t('validation.mustBeAtLeastCharsLong', { num: '8' }), minLength(8)),
                        maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '4096' }), maxLength(4096)),
                    },
                }
            });

            const v$ = useVuelidate(validationRules, formValues);

            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { getIsActionAllowed } = useRole();
            const { getTimeAgoValue } = useTimeAgo();
            const { fieldErrors, resetFieldError } = useFieldErrors(v$, errorValues);

            return {
                form: formValues,
                errors: errorValues,
                v$,
                setErrorMessage,
                setNotificationMessage,
                getIsActionAllowed,
                getTimeAgoValue,
                fieldErrors,
                resetFieldError,
            };
        },

        data () {
            return {
                navHelperItems: [
                    {
                        title: 'navigation.home',
                        disabled: false,
                        href: '/',
                    },
                    {
                        title: 'navigation.messages',
                        disabled: false,
                        href: '/messages',
                    },
                    {
                        title: 'messageContent',
                        disabled: true,
                        href: '/message/',
                    },
                ],

                isMessageLoaded: false,
                isLoading: false,
                isDialogBoxVisible: false,
                showResendAgainButton: true,

                messageData: {
                    option: null,
                    name: null,
                    email: null,
                    phoneNumber: null,
                    phoneCountry: null,
                    description: null,
                    customerLanguage: null,
                    isSentToExternalMail: null,
                    createdAt: null,
                },

                replies: [],

                replyRole: 'replyOnMessages',
            }
        },

        computed: {
            getPreparedMessageDataList() {
                if (!this.isMessageLoaded) {
                    return [];
                }

                return [
                    {
                        title: this.$t('typeOfMessage'),
                        value: this.messageData.option,
                    },
                    {
                        title: this.$t('customer'),
                        value: this.messageData.name,
                    },
                    {
                        title: this.$t('email'),
                        value: this.messageData.email,
                    },
                    {
                        title: this.$t('phoneNumber'),
                        value: this.messageData.phoneCountry + ' ' + this.messageData.phoneNumber,
                    },
                    {
                        title: this.$t('customerLanguage'),
                        value: this.$t('enums.' + this.messageData.customerLanguage),
                    },
                    {
                        title: this.$t('isSentToExternalMail'),
                        value: this.$t(this.messageData.isSentToExternalMail.toString()),
                        isEditable: !this.messageData.isSentToExternalMail,
                    },
                    {
                        title: this.$t('posted'),
                        datetime: this.messageData.createdAt
                    },
                ];
            },

            ...mapGetters({
                roles: 'auth/roles',
            }),
        },

        methods: {
            ...mapActions({
                getMessagesListAction: 'messages/getMessages',
            }),

            reply () {
                this.v$.$touch();
                if (this.v$.$invalid) {
                    this.setErrorMessage(this.$t('error.pleaseFillOutTheForm'));
                } else {
                    this.isLoading = true;
                    this.$recaptcha('replyOnMessage').then(token => {
                        this.form.recaptcha = token;
                        axios.post('/api/replyOnMessage', this.form).then((response) => {
                            this.isLoading = false;
                            this.form.recaptcha = '';
                            if (response.data.success) {
                                this.setNotificationMessage(this.$t(response.data.message));
                                this.getMessagesListAction();
                                this.$router.push({ name: 'Messages' });
                            } else {
                                this.setErrorMessage(this.$t(response.data.message));

                                if (response.data.errors) {
                                    if (response.data.errors.replyText) {
                                        this.errors.replyText = response.data.errors.replyText;
                                    }
                                }
                            }
                        }).catch((error) => {
                            console.log(error);
                            this.form.recaptcha = '';
                            this.isLoading = true;
                            this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch((error) => {
                        console.log(error);
                        this.form.recaptcha = '';
                        this.isLoading = true;
                        this.setErrorMessage(this.$t('error.recaptchaError'));
                    });
                }
            },

            toggleIsDialogBoxVisible() {
                if (!this.getIsActionAllowed(this.replyRole)) {
                    this.isDialogBoxVisible = false;
                    return;
                }

                this.isDialogBoxVisible = !this.isDialogBoxVisible;
            },

            closeDialog() {
                this.isDialogBoxVisible = false;
            },

            sendAgain() {
                if (this.messageData.isSentToExternalMail) {
                    return;
                }

                this.isLoading = true;
                this.$recaptcha('resendMail').then(token => {
                    this.form.recaptcha = token;
                    axios.post('/api/resendMail', this.form).then((response) => {
                        this.isLoading = false;
                        this.form.recaptcha = '';

                        if (response.data.success) {
                            this.setNotificationMessage(this.$t(response.data.message));
                            this.messageData.isSentToExternalMail = true;
                        } else {
                            this.setErrorMessage(this.$t(response.data.message));
                            this.showResendAgainButton = false;
                        }

                        this.closeDialog();
                    }).catch((error) => {
                        console.log(error);
                        this.form.recaptcha = '';
                        this.isLoading = true;
                        this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                    });
                }).catch((error) => {
                    console.log(error);
                    this.form.recaptcha = '';
                    this.isLoading = true;
                    this.setErrorMessage(this.$t('error.recaptchaError'));
                });
            },

        },

        created () {
            if (!this.$route.params.id
                || !Number.isInteger(parseInt(this.$route.params.id))
                || parseInt(this.$route.params.id) <= 0
            ) {
                this.setErrorMessage(this.$t('error.recordNotFound'));
                this.$router.push({ name: 'Messages' });
            } else {
                this.isLoading = true;
                axios.get('/api/getMessage/' + this.$route.params.id).then(response => {
                    this.isLoading = false;
                    if (response.data.success) {
                        this.form.id = response.data.messageData.id;
                        this.messageData.option = this.$t('enums.' + response.data.messageData.option);
                        this.messageData.name = response.data.messageData.name;
                        this.messageData.email = response.data.messageData.email;
                        this.messageData.phoneNumber = response.data.messageData.phoneNumber;
                        this.messageData.phoneCountry = response.data.messageData.phoneCountry;
                        this.messageData.description = response.data.messageData.description;
                        this.messageData.customerLanguage = response.data.messageData.clientLanguage;
                        this.messageData.isSentToExternalMail = !!response.data.messageData.isSentToExternalMail;
                        this.messageData.createdAt = response.data.messageData.createdAt;

                        response.data.messageData.replies.forEach(reply => {
                            this.replies.push( { description: reply.description, createdAt: reply.createdAt } );
                        });

                        this.isMessageLoaded = true;
                    } else {
                        this.setErrorMessage(this.$t('error.recordNotFound'));
                        this.$router.push({ name: 'Messages' });
                    }
                }).catch((error) => {
                    console.log(error);
                    this.isLoading = true;
                    this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                    this.$router.push({ name: 'Messages' });
                });
            }
        },
    }
</script>

<style scoped>

</style>
