<template>
    <v-container
        class='py-4'
        fluid
    >
        <v-row justify='center'>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                class='text-center'
                cols='12'
                offset-md='4'
                md='4'
            >
                <h1>{{ $t('navigation.messages') }}</h1>
            </v-col>

            <v-col
                cols='12'
                md='4'
                class='d-flex justify-end align-center'
            >
                <v-btn
                    v-if='authenticated && getIsActionVisible(refreshMessagesBtn)'
                    class='mx-2'
                    color='light-blue-darken-4'
                    variant='outlined'
                    size='small'
                    :icon='refreshMessagesBtn.icon'
                    v-on:click.prevent="refreshMessagesData"
                    :loading="isMessagesLoading"
                    :disabled="isMessagesLoading"
                ></v-btn>
            </v-col>
        </v-row>

        <v-row
            justify='center'
            class='text-center mb-6'
        >
            <v-col
                v-if="isMessagesLoading"
                cols='12'
            >
                <v-progress-circular
                    :size="40"
                    color='blue'
                    indeterminate
                ></v-progress-circular>
            </v-col>

            <v-col
                v-else-if="!messageList.length"
                cols='12'
            >
                <h3>{{ $t('noMessages') }}</h3>
            </v-col>

            <v-col
                v-else
                cols='12'
                sm='10'
                md='8'
            >
                <v-col
                    v-if='applyForRepairList.length'
                    cols='12'
                >
                    <h3 class='mb-2 text-left'>
                        {{ $t('enums.APPLY_FOR_REPAIR') }}
                    </h3>
                    <MessageList :messages="applyForRepairList"/>
                </v-col>

                <v-col
                    v-if='applyForItemList.length'
                    cols='12'
                >
                    <h3 class='mb-2 text-left'>
                        {{ $t('enums.APPLY_FOR_ITEM') }}
                    </h3>
                    <MessageList :messages="applyForItemList"/>
                </v-col>

                <v-col
                    v-if='questionList.length'
                    cols='12'
                >
                    <h3 class='mb-2 text-left'>
                        {{ $t('enums.QUESTION') }}
                    </h3>
                    <MessageList :messages="questionList"/>
                </v-col>

                <v-col
                    v-if='otherMessageList.length'
                    cols='12'
                >
                    <h3 class='mb-2 text-left'>
                        {{ $t('enums.OTHER') }}
                    </h3>
                    <MessageList :messages="otherMessageList"/>
                </v-col>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import MessageList from '../components/list/MessageList.vue';
    import SubNavigation from '../components/SubNavigation.vue';
    import useMessage from '../composables/useMessage';
    import useRole from '../composables/useRole';

    export default {
        components: {
            MessageList,
            SubNavigation,
        },

        setup () {
            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { getIsActionVisible } = useRole();

            return {
                setErrorMessage,
                setNotificationMessage,
                getIsActionVisible,
            };
        },

        data () {
            return {
                refreshMessagesBtn: { title: '', path: '', icon: 'mdi-cached', role: 'replyOnMessages' },
                navHelperItems: [
                    {
                        title: 'navigation.home',
                        disabled: false,
                        href: '/',
                    },
                    {
                        title: 'navigation.messages',
                        disabled: true,
                        href: '/messages',
                    },
                ],
            }
        },

        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated',
                messageList: 'messages/messageList',
                unreadMessageCount: 'messages/unreadMessageCount',
                isMessagesLoading: 'messages/isLoading',
            }),

            applyForRepairList() {
                if (!Array.isArray(this.messageList)) {
                    return [];
                }
                return this.messageList.filter((message) =>
                    message.option === 'APPLY_FOR_REPAIR'
                );
            },

            applyForItemList() {
                if (!Array.isArray(this.messageList)) {
                    return [];
                }
                return this.messageList.filter((message) =>
                    message.option === 'APPLY_FOR_ITEM'
                );
            },

            questionList() {
                if (!Array.isArray(this.messageList)) {
                    return [];
                }
                return this.messageList.filter((message) =>
                    message.option === 'QUESTION'
                );
            },

            otherMessageList() {
                if (!Array.isArray(this.messageList)) {
                    return [];
                }
                return this.messageList.filter((message) =>
                    message.option === 'OTHER'
                );
            },
        },

        methods: {
            ...mapActions({
                getMessagesListAction: 'messages/getMessages',
            }),

            refreshMessagesData() {
                this.getMessagesListAction().then(refreshed => {
                    this.setNotificationMessage(this.$t('dataUpdated'));
                }).catch((error) => {
                    console.log(error);
                    this.setErrorMessage(this.$t('error.error'));
                });
            },
        },

        created () {
            this.getMessagesListAction();
        },
    }
</script>

<style scoped>

</style>
