<template>
    <v-container
        class='py-4'
        fluid
    >
        <v-row justify='center'>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                class='text-center'
                cols='12'
                offset-md='4'
                md='4'
            >
                <h1>{{ $t('controlPanel.productTables') }}</h1>
            </v-col>

            <v-col
                cols='12'
                md='4'
                class='d-flex justify-end align-center'
            >
                <v-btn
                    v-if='getIsActionVisible(refreshTablesBtn)'
                    class='mx-2'
                    color='light-blue-darken-4'
                    variant='outlined'
                    size='small'
                    :icon='refreshTablesBtn.icon'
                    v-on:click.prevent="refreshTablesData"
                    :loading="isItemsLoading"
                    :disabled="isItemsLoading"
                ></v-btn>
            </v-col>
        </v-row>

        <v-row
            justify='center'
            class='text-center mb-6'
        >
            <v-col
                v-if="isItemsLoading"
                cols='12'
            >
                <v-progress-circular
                    :size="40"
                    color='blue'
                    indeterminate
                ></v-progress-circular>
            </v-col>

            <v-col
                v-else-if="!itemsList.length"
                cols='12'
            >
                <h3>{{ $t('noRecords') }}</h3>
            </v-col>

            <v-col
                v-else
                class='pa-0'
            >
                <v-row no-gutters>
                    <v-col
                        cols='12'
                        sm='3'
                        md='2'
                        class='px-3'
                    >
                        <v-btn
                            v-if='xs'
                            color='cyan'
                            variant='tonal'
                            class='w-100 my-2 no-text-transform'
                            :prepend-icon='selectionCriteriaBtn.icon'
                            v-on:click.prevent='toggleSelectionCriteria()'
                        >
                            <p class='text-wrap'>
                                {{ $t(selectionCriteriaBtn.title) }}
                            </p>
                        </v-btn>

                        <div v-if='smAndUp || (xs && snowSelectionCriteria)'>
                            <v-btn
                                v-if="!isTableHeadersEmpty"
                                color='amber'
                                variant='plain'
                                class='w-100 my-2 no-text-transform'
                                v-on:click.prevent="clearHeaders"
                            >
                                <p class='text-wrap'>
                                    {{ $t('clearData') }}
                                </p>
                            </v-btn>

                            <v-autocomplete
                                name="column"
                                v-model="column"
                                id="column"
                                :label="$t('column')"
                                :items="getAvailableItems(true, false)"
                                item-title="text"
                                item-value="value"
                                variant='underlined'
                                clearable
                            ></v-autocomplete>

                            <v-autocomplete
                                name="row"
                                v-model="row"
                                id="row"
                                :label="$t('row')"
                                :items="getAvailableItems(false, true)"
                                item-title="text"
                                item-value="value"
                                variant='underlined'
                                clearable
                            ></v-autocomplete>

                            <v-btn
                                v-if='this.column && this.row'
                                color='orange'
                                variant='tonal'
                                class='w-100 my-2 no-text-transform'
                                :prepend-icon='swapBtn.icon'
                                v-on:click.prevent="switchColumnAndRow()"
                            >
                                <p class='text-wrap'>
                                    {{ $t(swapBtn.title) }}
                                </p>
                            </v-btn>
                        </div>
                    </v-col>

                    <v-divider
                        v-if='smAndUp'
                        class='border-opacity-25'
                        vertical
                    ></v-divider>

                    <v-col
                        v-if='showTable'
                        cols='12'
                        sm='9'
                        md='10'
                    >
                        <h3>{{ tableTitle }}</h3>
                        <Table
                            :headers="getTableHeaders"
                            :items="getTableData"
                            :isLoading="isTableLoading"
                        />
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import { useDisplay } from 'vuetify'
    import Table from '../components/Table.vue';
    import SubNavigation from '../components/SubNavigation.vue';
    import useMessage from '../composables/useMessage';
    import useSelection from '../composables/useSelection';
    import useObject from '../composables/useObject';
    import useRole from '../composables/useRole';
    import useSelectionCriteria from '../composables/useSelectionCriteria';

    export default {
        components: {
            Table,
            SubNavigation,
        },

        setup () {
            const { xs, smAndUp } = useDisplay()
            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { prepareTableItems } = useSelection();
            const { getEntries } = useObject();
            const { getIsActionVisible } = useRole();
            const { snowSelectionCriteria, selectionCriteriaBtn, toggleSelectionCriteria } = useSelectionCriteria();

            return {
                xs,
                smAndUp,
                setErrorMessage,
                setNotificationMessage,
                prepareTableItems,
                getEntries,
                getIsActionVisible,
                snowSelectionCriteria,
                selectionCriteriaBtn,
                toggleSelectionCriteria
            };
        },

        data () {
            return {
                swapBtn: { title: 'swap', path: '', icon: 'mdi-swap-horizontal', role: '' },
                refreshTablesBtn: { title: 'refresh', path: '', icon: 'mdi-cached', role: 'seeTables' },

                column: null,
                row: null,

                isTableLoading: true,
                tableTitle: '',
                tableItems: [
                    {
                        value: 'ALL_CATEGORIES',
                        props: { disabled: false },
                        allowedToCompareWith: [ 'BRAND', 'STATUS', 'ACTIVITY_STATE', 'DELETED_STATE', 'AVAILABILITY_STATUS', 'GENDER' ]
                    },
                    {
                        value: 'SKATES',
                        props: { disabled: false },
                        allowedToCompareWith: [ 'BRAND', 'STATUS', 'ACTIVITY_STATE', 'DELETED_STATE', 'AVAILABILITY_STATUS', 'SIZE', 'GENDER' ]
                    },
                    {
                        value: 'STICKS',
                        props: { disabled: false },
                        allowedToCompareWith: [ 'BRAND', 'STATUS', 'ACTIVITY_STATE', 'DELETED_STATE', 'AVAILABILITY_STATUS', 'SIZE', 'GENDER' ]
                    },
                    {
                        value: 'HELMET',
                        props: { disabled: false },
                        allowedToCompareWith: [ 'BRAND', 'STATUS', 'ACTIVITY_STATE', 'DELETED_STATE', 'AVAILABILITY_STATUS', 'SIZE', 'GENDER' ]
                    },
                    {
                        value: 'GLOVES',
                        props: { disabled: false },
                        allowedToCompareWith: [ 'BRAND', 'STATUS', 'ACTIVITY_STATE', 'DELETED_STATE', 'AVAILABILITY_STATUS', 'SIZE', 'GENDER' ]
                    },
                    {
                        value: 'PANTS',
                        props: { disabled: false },
                        allowedToCompareWith: [ 'BRAND', 'STATUS', 'ACTIVITY_STATE', 'DELETED_STATE', 'AVAILABILITY_STATUS', 'SIZE', 'GENDER' ]
                    },
                    {
                        value: 'SHOULDER_PADS',
                        props: { disabled: false },
                        allowedToCompareWith: [ 'BRAND', 'STATUS', 'ACTIVITY_STATE', 'DELETED_STATE', 'AVAILABILITY_STATUS', 'SIZE', 'GENDER' ]
                    },
                    {
                        value: 'SHIN_GUARDS',
                        props: { disabled: false },
                        allowedToCompareWith: [ 'BRAND', 'STATUS', 'ACTIVITY_STATE', 'DELETED_STATE', 'AVAILABILITY_STATUS', 'SIZE', 'GENDER' ]
                    },
                    {
                        value: 'ELBOW_PADS',
                        props: { disabled: false },
                        allowedToCompareWith: [ 'BRAND', 'STATUS', 'ACTIVITY_STATE', 'DELETED_STATE', 'AVAILABILITY_STATUS', 'SIZE', 'GENDER' ]
                    },
                    {
                        value: 'BAGS',
                        props: { disabled: false },
                        allowedToCompareWith: [ 'BRAND', 'STATUS', 'ACTIVITY_STATE', 'DELETED_STATE', 'AVAILABILITY_STATUS', 'SIZE', 'GENDER' ]
                    },
                    {
                        value: 'KITS',
                        props: { disabled: false },
                        allowedToCompareWith: [ 'BRAND', 'STATUS', 'ACTIVITY_STATE', 'DELETED_STATE', 'AVAILABILITY_STATUS', 'SIZE', 'GENDER' ]
                    },
                    {
                        value: 'BRAND',
                        props: { disabled: false },
                        allowedToCompareWith: [ 'ALL_CATEGORIES', 'SKATES', 'STICKS', 'HELMET', 'GLOVES', 'PANTS', 'SHOULDER_PADS', 'SHIN_GUARDS', 'ELBOW_PADS', 'BAGS', 'KITS', 'STATUS', 'ACTIVITY_STATE', 'DELETED_STATE', 'AVAILABILITY_STATUS', 'GENDER' ]
                    },
                    {
                        value: 'STATUS',
                        props: { disabled: false },
                        allowedToCompareWith: [ 'ALL_CATEGORIES', 'SKATES', 'STICKS', 'HELMET', 'GLOVES', 'PANTS', 'SHOULDER_PADS', 'SHIN_GUARDS', 'ELBOW_PADS', 'BAGS', 'KITS', 'BRAND', 'ACTIVITY_STATE', 'DELETED_STATE', 'AVAILABILITY_STATUS', 'GENDER' ]
                    },
                    {
                        value: 'ACTIVITY_STATE',
                        props: { disabled: false },
                        allowedToCompareWith: [ 'ALL_CATEGORIES', 'SKATES', 'STICKS', 'HELMET', 'GLOVES', 'PANTS', 'SHOULDER_PADS', 'SHIN_GUARDS', 'ELBOW_PADS', 'BAGS', 'KITS', 'BRAND', 'STATUS', 'AVAILABILITY_STATUS', 'GENDER' ]
                    },
                    {
                        value: 'DELETED_STATE',
                        props: { disabled: false },
                        allowedToCompareWith: [ 'ALL_CATEGORIES', 'SKATES', 'STICKS', 'HELMET', 'GLOVES', 'PANTS', 'SHOULDER_PADS', 'SHIN_GUARDS', 'ELBOW_PADS', 'BAGS', 'KITS', 'BRAND', 'STATUS', 'AVAILABILITY_STATUS', 'GENDER' ]
                    },
                    {
                        value: 'AVAILABILITY_STATUS',
                        props: { disabled: false },
                        allowedToCompareWith: [ 'ALL_CATEGORIES', 'SKATES', 'STICKS', 'HELMET', 'GLOVES', 'PANTS', 'SHOULDER_PADS', 'SHIN_GUARDS', 'ELBOW_PADS', 'BAGS', 'KITS', 'BRAND', 'STATUS', 'ACTIVITY_STATE', 'DELETED_STATE', 'GENDER' ]
                    },
                    {
                        value: 'SIZE',
                        props: { disabled: false },
                        allowedToCompareWith: [ 'SKATES', 'STICKS', 'HELMET', 'GLOVES', 'PANTS', 'SHOULDER_PADS', 'SHIN_GUARDS', 'ELBOW_PADS', 'BAGS', 'KITS' ]
                    },
                    {
                        value: 'GENDER',
                        props: { disabled: false },
                        allowedToCompareWith: [ 'ALL_CATEGORIES', 'SKATES', 'STICKS', 'HELMET', 'GLOVES', 'PANTS', 'SHOULDER_PADS', 'SHIN_GUARDS', 'ELBOW_PADS', 'BAGS', 'KITS', 'BRAND', 'STATUS', 'ACTIVITY_STATE', 'DELETED_STATE', 'AVAILABILITY_STATUS' ]
                    },
                ],

                activityStatuses: [ { value: 1, name: 'active' }, { value: 0, name: 'inactive' }, ],
                deletedStatuses: [ { value: 1, name: 'deleted' }, { value: 0, name: 'active' }, ],
                availabilityStatuses: [ { value: 1, name: 'AVAILABLE_TO_PURCHASE' }, { value: 0, name: 'AVAILABLE_IN_STORE_ONLY' }, ],

                navHelperItems: [
                    {
                        title: 'navigation.home',
                        disabled: false,
                        href: '/',
                    },
                    {
                        title: 'navigation.controlPanel',
                        disabled: false,
                        href: '/controlPanel',
                    },
                                        {
                        title: 'controlPanel.productTables',
                        disabled: true,
                        href: '/controlPanel/productTables',
                    },
                ],
            }
        },

        computed: {
            ...mapGetters({
                isItemsLoading: 'items/isLoading',
                itemsList: 'items/itemsList',
                categoriesEnum: 'enums/categories',
                conditionsEnum: 'enums/conditions',
                brandsEnum: 'enums/brands',
                sizesEnum: 'enums/sizes',
                gendersEnum: 'enums/genders',
            }),

            showTable() {
                if (this.column && this.row) {
                    this.tableTitle = this.$t('numberOf') + ': '
                        + this.$t('enums.' + this.column) + ' / ' + this.$t('enums.' + this.row);

                    return true
                }
                return false;
            },

            getTableHeaders() {
                let tableHeaders = [];
                let rowData = this.tableItems.filter(item => item.value === this.row);
                let useTotal = true;

                tableHeaders.push(
                    { title: this.$t('enums.' + this.row), sortable: false, value: rowData[0].value, key:rowData[0].value, align: 'center' }
                );

                if (this.column === 'BRAND') {
                    this.brandsEnum.forEach((brandKey) => {
                        tableHeaders.push( { title: this.$t('enums.' + brandKey), value: brandKey, key: brandKey, align: 'center' } );
                    });
                } else if (this.column === 'ALL_CATEGORIES') {
                    this.categoriesEnum.forEach((categoryKey) => {
                        tableHeaders.push( { title: this.$t('enums.' + categoryKey), value: categoryKey, key: categoryKey, align: 'center' } );
                    });
                } else if (this.column === 'STATUS') {
                    this.conditionsEnum.forEach((conditionKey) => {
                        tableHeaders.push( { title: this.$t('enums.' + conditionKey), value: conditionKey, key: conditionKey, align: 'center' } );
                    });
                } else if (this.column === 'ACTIVITY_STATE') {
                    this.activityStatuses.forEach((status) => {
                        tableHeaders.push( { title: this.$t(status.name), value: String(status.value), key: String(status.value), align: 'center' } );
                    });
                } else if (this.column === 'DELETED_STATE') {
                    this.deletedStatuses.forEach((status) => {
                        tableHeaders.push( { title: this.$t(status.name), value: String(status.value), key: String(status.value), align: 'center' } );
                    });
                } else if (this.column === 'AVAILABILITY_STATUS') {
                    this.availabilityStatuses.forEach((status) => {
                        tableHeaders.push( { title: this.$t('enums.' + status.name), value: String(status.value), key: String(status.value), align: 'center' } );
                    });
                } else if (this.column === 'SIZE') {
                    tableHeaders = tableHeaders.concat(this.getAvailableSizes(this.row));
                    tableHeaders.push( { title: this.$t('other'), value: 'other', key: 'other', align: 'center' } );
                } else if (this.column === 'GENDER') {
                    this.gendersEnum.forEach((genderKey) => {
                        tableHeaders.push( { title: this.$t('enums.' + genderKey), value: genderKey, key: genderKey, align: 'center' } );
                    });
                } else {
                    let columnData = this.tableItems.filter(item => item.value === this.column);
                    tableHeaders.push( { title: this.$t('enums.' + columnData[0].value), value: columnData[0].value, key: columnData[0].value, align: 'center' } );
                    useTotal = false;
                }

                if (useTotal) {
                    tableHeaders.push( { title: this.$t('total'), value: 'total', key: 'total', align: 'center' } );
                }

                return tableHeaders;
            },

            getTableData() {
                let tableItems = [];
                if (!Array.isArray(this.itemsList)) {
                    return tableItems;
                }

                if (this.row === 'BRAND') {
                    this.brandsEnum.forEach((brandKey) => {
                        var row = {};
                        let items = this.itemsList;
                        items = items.filter(item => item.brand === brandKey);
                        row = this.getRowData(row, items);
                        row.BRAND = this.$t('enums.' + brandKey);
                        row.total = items.length ? items.length : '-';
                        tableItems.push( row );
                    });

                    var row = {};
                    row = this.getRowData(row, this.itemsList);
                    row.BRAND = this.$t('total');
                    row.total = this.itemsList.length;
                    tableItems.push( row );
                } else if (this.row === 'ALL_CATEGORIES') {
                    this.categoriesEnum.forEach((categoryKey) => {
                        var row = {};
                        let items = this.itemsList;
                        items = items.filter(item => item.category === categoryKey);
                        row = this.getRowData(row, items);
                        row.ALL_CATEGORIES = this.$t('enums.' + categoryKey);
                        row.total = items.length ? items.length : '-';
                        tableItems.push( row );
                    });

                    var row = {};
                    row = this.getRowData(row, this.itemsList);
                    row.ALL_CATEGORIES = this.$t('total');
                    row.total = this.itemsList.length;
                    tableItems.push( row );
                } else if (this.row === 'STATUS') {
                    this.conditionsEnum.forEach((conditionKey) => {
                        var row = {};
                        let items = this.itemsList;
                        items = items.filter(item => item.state === conditionKey);
                        row = this.getRowData(row, items);
                        row.STATUS = this.$t('enums.' + conditionKey);
                        row.total = items.length ? items.length : '-';
                        tableItems.push( row );
                    });

                    var row = {};
                    row = this.getRowData(row, this.itemsList);
                    row.STATUS = this.$t('total');
                    row.total = this.itemsList.length;
                    tableItems.push( row );
                } else if (this.row === 'ACTIVITY_STATE') {
                    this.activityStatuses.forEach((status) => {
                        var row = {};
                        let items = this.itemsList;
                        items = items.filter(item => item.isActive === status.value && item.isDeleted === 0);
                        row = this.getRowData(row, items);
                        row.ACTIVITY_STATE = this.$t(status.name);
                        row.total = items.length ? items.length : '-';
                        tableItems.push( row );
                    });

                    var row = {};
                    row = this.getRowData(row, this.itemsList);
                    row.ACTIVITY_STATE = this.$t('total');
                    row.total = this.itemsList.length;
                    tableItems.push( row );
                } else if (this.row === 'DELETED_STATE') {
                    this.deletedStatuses.forEach((status) => {
                        var row = {};
                        let items = this.itemsList;
                        items = items.filter(item => item.isDeleted === status.value);
                        row = this.getRowData(row, items);
                        row.DELETED_STATE = this.$t(status.name);
                        row.total = items.length ? items.length : '-';
                        tableItems.push( row );
                    });

                    var row = {};
                    row = this.getRowData(row, this.itemsList);
                    row.DELETED_STATE = this.$t('total');
                    row.total = this.itemsList.length;
                    tableItems.push( row );
                } else if (this.row === 'AVAILABILITY_STATUS') {
                    this.availabilityStatuses.forEach((status) => {
                        var row = {};
                        let items = this.itemsList;
                        items = items.filter(item => item.isAvailableForSale === status.value);
                        row = this.getRowData(row, items);
                        row.AVAILABILITY_STATUS = this.$t('enums.' + status.name);
                        row.total = items.length ? items.length : '-';
                        tableItems.push( row );
                    });

                    var row = {};
                    row = this.getRowData(row, this.itemsList);
                    row.AVAILABILITY_STATUS = this.$t('total');
                    row.total = this.itemsList.length;
                    tableItems.push( row );
                } else if (this.row === 'SIZE') {
                    let items = this.itemsList;
                    let rowData = this.tableItems.filter(item => item.value === this.row);
                    let columnData = this.tableItems.filter(item => item.value === this.column);
                    let categoryKey = this.column;
                    items = items.filter(item => item.category === categoryKey);

                    let itemSizeCount = 0;
                    this.getAvailableSizes(this.column).forEach((size) => {
                        var foundItems = [];
                        if (categoryKey === 'SKATES') {
                            foundItems = items.filter(item => (item.skateSize + '_' + item.skateLength) === size.value);
                        } else if (categoryKey === 'STICKS') {
                            foundItems = items.filter(item => item.stickSize === size.value);
                        } else {
                            foundItems = items.filter(item => item.size === size.value);
                        }
                        itemSizeCount += foundItems.length;

                        var row = {};
                        row[rowData[0].value] = size.title;
                        row[columnData[0].value] = foundItems.length ? foundItems.length : '-';
                        tableItems.push( row );
                    });

                    var row = {};
                    row[rowData[0].value] = this.$t('other');
                    row[columnData[0].value] = (items.length - itemSizeCount > 0)
                        ? (items.length - itemSizeCount)
                        : '-';
                    tableItems.push( row );

                    row = {};
                    row[rowData[0].value] = this.$t('total');
                    row[columnData[0].value] = items.length  ? items.length  : '-';
                    tableItems.push( row );
                } else if (this.row === 'GENDER') {
                    this.gendersEnum.forEach((genderKey) => {
                        var row = {};
                        let items = this.itemsList;
                        items = items.filter(item => item.gender === genderKey);
                        row = this.getRowData(row, items);
                        row.GENDER = this.$t('enums.' + genderKey);
                        row.total = items.length ? items.length : '-';
                        tableItems.push( row );
                    });

                    var row = {};
                    row = this.getRowData(row, this.itemsList);
                    row.GENDER = this.$t('total');
                    row.total = this.itemsList.length;
                    tableItems.push( row );
                } else {
                    let rowData = this.tableItems.filter(item => item.value === this.row);
                    let categoryKey = this.row;
                    let items = this.itemsList.filter(item => item.category === categoryKey);

                    var row = {};
                    row = this.getRowData(row, items);
                    row[rowData[0].value] = this.$t('numberOf');
                    row.total = items.length ? items.length : '-';
                    tableItems.push( row );
                }

                this.isTableLoading = false;
                return tableItems;
            },

            isTableHeadersEmpty() {
                return (this.column || this.row) ? false : true;
            },
        },

        methods: {
            ...mapActions({
                getItemListAction: 'items/getItems',
            }),

            refreshTablesData() {
                this.getItemListAction().then((refreshed) => {
                    this.setNotificationMessage(this.$t('dataUpdated'));
                }).catch((error) => {
                    console.log(error);
                    this.setErrorMessage(this.$t('error.error'));
                });
            },

            switchColumnAndRow() {
                if (this.column && this.row) {
                    [this.column, this.row] = [this.row, this.column];
                }
            },

            getRowData(row, items) {
                if (!Array.isArray(items)) {
                    return row;
                }

                if (this.column === 'BRAND') {
                    this.brandsEnum.forEach((brandKey) => {
                        let count = items.filter(item => item.brand === brandKey).length;
                        row[brandKey] = count ? count : '-';
                    });
                } else if (this.column === 'ALL_CATEGORIES') {
                    this.categoriesEnum.forEach((categoryKey) => {
                        let count = items.filter(item => item.category === categoryKey).length;
                        row[categoryKey] = count ? count : '-';
                    });
                } else if (this.column === 'STATUS') {
                    this.conditionsEnum.forEach((conditionKey) => {
                        let count = items.filter(item => item.state === conditionKey).length;
                        row[conditionKey] = count ? count : '-';
                    });
                } else if (this.column === 'ACTIVITY_STATE') {
                    this.activityStatuses.forEach((status) => {
                        let count = items.filter(item => item.isActive === status.value && item.isDeleted === 0).length;
                        row[status.value] = count ? count : '-';
                    });
                } else if (this.column === 'DELETED_STATE') {
                    this.deletedStatuses.forEach((status) => {
                        let count = items.filter(item => item.isDeleted === status.value).length;
                        row[status.value] = count ? count : '-';
                    });
                } else if (this.column === 'AVAILABILITY_STATUS') {
                    this.availabilityStatuses.forEach((status) => {
                        let count = items.filter(item => item.isAvailableForSale === status.value).length;
                        row[status.value] = count ? count : '-';
                    });
                } else if (this.column === 'SIZE') {
                    let categoryKey = this.row;
                    let count = 0;
                    let itemSizeCount = 0;

                    this.getAvailableSizes(this.row).forEach((size) => {
                        if (categoryKey === 'SKATES') {
                            count = items.filter(item => (item.skateSize + '_' + item.skateLength) === size.value).length;
                        } else if (categoryKey === 'STICKS') {
                            count = items.filter(item => item.stickSize === size.value).length;
                        } else {
                            count = items.filter(item => item.size === size.value).length;
                        }
                        row[size.value] = count ? count : '-';
                        itemSizeCount += count;
                    });

                    row.other = (items.length - itemSizeCount > 0)
                        ? (items.length - itemSizeCount)
                        : '-';
                } else if (this.column === 'GENDER') {
                    this.gendersEnum.forEach((genderKey) => {
                        let count = items.filter(item => item.gender === genderKey).length;
                        row[genderKey] = count ? count : '-';
                    });
                } else {
                    let categoryKey = this.column;
                    let count = items.filter(item => item.category === categoryKey).length;
                    let columnData = this.tableItems.filter(item => item.value === this.column);
                    row[columnData[0].value] = count ? count : '-';
                }
                return row;
            },

            clearHeaders() {
                this.column = null;
                this.row = null;
                this.setNotificationMessage(this.$t('dataCleared'));
            },

            getAvailableSizes(category) {
                var availableSizes = [];
                if (category) {
                    if (category === 'HELMET') {
                        this.sizesEnum.HELMET.forEach(size => {
                            availableSizes.push( { title: size, value: String(size), key: String(size) } );
                        });
                    } else if (category === 'GLOVES') {
                        this.sizesEnum.GLOVES.forEach(size => {
                            availableSizes.push( { title: size, value: String(size), key: String(size) } );
                        });
                    } else if (category === 'PANTS'
                        || category === 'SHOULDER_PADS'
                        || category === 'ELBOW_PADS'
                    ) {
                        this.sizesEnum.PANTS_SHOULDER_ELBOW_PAD_SIZES.forEach(size => {
                            availableSizes.push( { title: this.$t('enums.' + size), value: String(size), key: String(size) } );
                        });
                    } else if (category === 'SHIN_GUARDS') {
                        this.sizesEnum.SHIN_GUARD.forEach(size => {
                            availableSizes.push( { title: size, value: String(size), key: String(size) } );
                        });
                    } else if (category === 'BAGS') {
                        this.sizesEnum.BAG.forEach(size => {
                            availableSizes.push( { title: size, value: String(size), key: String(size) } );
                        });
                    } else if (category === 'KITS') {
                        this.sizesEnum.KIT.forEach(size => {
                            availableSizes.push( { title: size, value: String(size), key: String(size) } );
                        });
                    } else if (category === 'SKATES') {
                        this.getEntries(this.sizesEnum.SKATES.LENGTH).forEach(skateSize => {
                            const [skateSizeKey, skateLengths] = skateSize;

                            this.getEntries(skateLengths).forEach(skateLength => {
                                const [skateLengthKey, values] = skateLength;
                                availableSizes.push({
                                    title: this.$t('enums.' + skateSizeKey) + ' ' + skateLengthKey + ' (EUR ' + values.EUR + ')',
                                    value: (skateSizeKey + '_' + skateLengthKey),
                                    key: (skateSizeKey + '_' + skateLengthKey),
                                });
                            });
                        });
                    } else if (category === 'STICKS') {
                        this.sizesEnum.STICK.SIZE.forEach(size => {
                            availableSizes.push( { title: size, value: String(size), key: String(size) } );
                        });
                    }
                }

                return [...new Set(availableSizes)];
            },

            getAvailableItems(isColumn, isRow) {
                let availableItems = this.tableItems;
                let takenItem = null;

                if (isColumn && this.row) {
                    availableItems.forEach((item, index) => {
                        if (item.value === this.row) {
                            takenItem = item;
                        }
                        availableItems[index].props.disabled = false;
                    });
                } else if (isRow && this.column) {
                    availableItems.forEach((item, index) => {
                        if (item.value === this.column) {
                            takenItem = item;
                        }
                        availableItems[index].props.disabled = false;
                    });
                } else {
                    availableItems.forEach((item, index) => {
                        availableItems[index].props.disabled = false;
                    });
                }

                if (takenItem !== null) {
                    availableItems.forEach((item, index) => {
                        if ((item.value === this.column || item.value === this.row)
                            || !takenItem.allowedToCompareWith.includes(item.value)
                        ) {
                            availableItems[index].props.disabled = true;
                        } else {
                            availableItems[index].props.disabled = false;
                        }
                    });
                }

                return this.prepareTableItems(availableItems);
            },
        },
    }
</script>

<style scoped>

</style>
