<template>
    <div v-if="isComponentVisible && message.length > 0">
        <v-snackbar
            v-model="isVisible"
            :timeout="-1"
            v-bind:color="isNotification ? 'green' : 'red'"
            location='bottom right'
        >
            <div class='text-body-1'>{{ message }}</div>
            <template v-slot:actions>
                <v-btn
                    color='white'
                    variant='text'
                    icon='mdi-close'
                    @click="isVisible = false"
                ></v-btn>
            </template>
        </v-snackbar>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        name: 'Global',

        data () {
            return {
                isVisible: true,
            }
        },

        computed: {
            ...mapGetters({
                message: 'message/getMessage',
                isComponentVisible: 'message/getIsVisible',
                isNotification: 'message/getIsNotification',
            }),
        },
    }
</script>

<style scoped>

</style>
