<template>
    <v-dialog
        v-model='accept'
        width='auto'
    >
        <v-card>
            <v-card-title class='text-h6 text-center ma-2'>
                {{ $t(title) }}
            </v-card-title>

            <v-card-actions class='justify-end'>
                <v-btn
                    color='blue'
                    variant='text'
                    v-on:click="sendData(false, title)"
                >
                    {{ $t('disagree') }}
                </v-btn>

                <v-btn
                    color='red'
                    variant='text'
                    v-on:click.prevent="sendData(true, title)"
                >
                    {{ $t('agree') }}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        props: [ 'title' ],

        data () {
            return {
                accept: true,
            }
        },

        methods: {
            sendData(isAccepted, eventName) {
                this.$emit("data", { isAccepted: isAccepted, eventName: eventName });
            },
        },

        watch: {
            accept: function(value) {
                if (!value) {
                    this.$emit("data", { isAccepted: false, eventName: '' });
                }
            }
        }
    }
</script>