<template>
    <v-stepper
        v-model='step'
        elevation='6'
        hide-actions
    >
        <v-stepper-header>
            <v-stepper-item
                :complete='step > 0'
                :color="getStepperColor(firstStep)"
                step='0'
                value='1'
            >
                {{ $t('contact.stepOneTitle') }}
            </v-stepper-item>

            <v-divider></v-divider>

            <v-stepper-item
                :complete='step > 1'
                :color="getStepperColor(secondStep)"
                step='1'
                value='2'
            >
                {{ $t('contact.stepTwoTitle') }}
            </v-stepper-item>
        </v-stepper-header>

        <v-stepper-window>
            <v-stepper-window-item value='1'>
                <v-form @submit.prevent='validateOption'>
                    <h2>{{ $t('contact.stepOneTitle') }}</h2>
                    <p>{{ $t('contact.stepOneDesc') }}</p>

                    <v-radio-group
                        column
                        name="radioOption"
                        v-model="form.radioOption"
                        :error-messages="fieldErrors('radioOption')"
                        @update:model-value="v$.radioOption.$touch()"
                        @blur="v$.radioOption.$touch()"
                        @update:modelValue="resetFieldError('radioOption')"
                        :error="fieldErrors('radioOption').length > 0"
                    >
                        <v-radio
                            v-for="(item, i) in messageOptions" :key="i"
                            :label="$t('enums.' + item)"
                            :value="item"
                        ></v-radio>
                    </v-radio-group>

                    <v-btn
                        color='blue'
                        variant='tonal'
                        type='submit'
                        class='text-center mt-4'
                        :append-icon='continueBtn.icon'
                        :loading='loading'
                        :disabled='loading'
                    >
                        {{ $t(continueBtn.title) }}
                    </v-btn>
                </v-form>
            </v-stepper-window-item>

            <v-stepper-window-item value='2'>
                <v-form @submit.prevent="submit">
                    <h2>{{ $t('contact.stepTwoTitle') }}</h2>
                    <p>{{ choiceDescription }}</p>

                    <v-text-field
                        name="name"
                        v-model="form.name"
                        id="name"
                        :label="$t('name')"
                        type="text"
                        variant='underlined'
                        :counter="256"
                        required
                        :error-messages="fieldErrors('name')"
                        @update:model-value="v$.name.$touch()"
                        @blur="v$.name.$touch()"
                        @update:modelValue="resetFieldError('name')"
                    ></v-text-field>

                    <v-text-field
                        name="email"
                        v-model="form.email"
                        id="email"
                        :label="$t('email')"
                        type="email"
                        variant='underlined'
                        :counter="256"
                        required
                        :error-messages="fieldErrors('email')"
                        @update:model-value="v$.email.$touch()"
                        @blur="v$.email.$touch()"
                        @update:modelValue="resetFieldError('email')"
                    ></v-text-field>

                    <v-phone-input
                        name="phone"
                        v-model="form.phoneNumber"
                        id="phone"
                        :label="$t('phoneNumber')"
                        :countryLabel="$t('country')"
                        variant='underlined'
                        defaultCountry="LV"
                        required
                        :error-messages="[...fieldErrors('phoneNumber'), ...fieldErrors('phoneCountryCode')]"
                        :invalidMessage="$t('validation.invalidNumber')"
                        @update:model-value="v$.phoneNumber.$touch()"
                        @update:country="updatePhoneCountryCode"
                        @blur="v$.phoneNumber.$touch()"
                        @update:modelValue="resetFieldError('phoneNumber'), resetFieldError('phoneCountryCode')"
                    />

                    <VuetifyTiptap
                        class="pt-2"
                        name="description"
                        v-model="form.description"
                        id="description"
                        :dark="true"
                        :outlined="true"
                        required
                        @update:model-value="v$.description.$touch()"
                        @blur="v$.description.$touch()"
                        @update:modelValue="resetFieldError('description')"
                    />
                    <div
                        v-if='v$.description.$invalid'
                        class='text-red-lighten-1'
                    >
                        {{ fieldErrors('description')[0] }}
                    </div>

                    <v-col class="d-flex justify-space-between">
                        <v-btn
                            color='blue'
                            variant='tonal'
                            class='text-center mt-4'
                            :prepend-icon='backBtn.icon'
                            v-on:click='step = 0'
                            :loading='loading'
                            :disabled='loading'
                        >
                            {{ $t(backBtn.title) }}
                        </v-btn>

                        <v-btn
                            color='blue'
                            variant='tonal'
                            type='submit'
                            class='text-center mt-4'
                            :append-icon='continueBtn.icon'
                            :loading="loading"
                            :disabled="loading"
                        >
                            {{ $t(sendBtn.title) }}
                        </v-btn>
                    </v-col>
                </v-form>
            </v-stepper-window-item>
        </v-stepper-window>
    </v-stepper>
</template>

<script>
    import { computed } from 'vue'
    import { mapGetters } from 'vuex';
    import { useVuelidate } from '@vuelidate/core';
    import { required, maxLength, minLength, email, helpers } from '@vuelidate/validators';
    import useFormData from '../composables/useFormData';
    import useErrorData from '../composables/useErrorData';
    import useFieldErrors from '../composables/useFieldErrors';
    import useMessage from '../composables/useMessage';
    import { $t } from "../locales/localization";

	export default {
        components: { },

        setup () {
            const { formValues } = useFormData(
                {
                    name: '',
                    email: '',
                    phoneNumber: '',
                    phoneCountryCode: '',
                    description: '',
                    radioOption: '',
                    language: '',
                    recaptcha: '',
                }
            );

            const { errorValues } = useErrorData(
                {
                    name: null,
                    email: null,
                    phoneNumber: null,
                    phoneCountryCode: null,
                    description: null,
                    radioOption: null,
                }
            );

            const validationRules = computed(() => {
                return {
                    name: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        minLength: helpers.withMessage($t('validation.mustBeAtLeastCharsLong', { num: '3' }), minLength(3)),
                        maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '256' }), maxLength(256)),
                    },
                    email: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        email: helpers.withMessage($t('validation.invalidEmail'), email),
                        maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '256' }), maxLength(256)),
                    },
                    phoneNumber: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        minLength: helpers.withMessage($t('validation.invalidNumber', { num: '3' }), minLength(3)),
                        maxLength: helpers.withMessage($t('validation.invalidNumber', { num: '32' }), maxLength(32)),
                    },
                    phoneCountryCode: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                    },
                    description: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        minLength: helpers.withMessage($t('validation.mustBeAtLeastCharsLong', { num: '24' }), minLength(24)),
                        maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '4096' }), maxLength(4096)),
                    },
                    radioOption: {
                        required: helpers.withMessage($t('validation.selectOption'), required),
                    },
                }
            });

            const v$ = useVuelidate(validationRules, formValues);
            const { fieldErrors, resetFieldError } = useFieldErrors(v$, errorValues);
            const { setErrorMessage, setNotificationMessage } = useMessage();

            return {
                form: formValues,
                errors: errorValues,
                v$,
                fieldErrors,
                resetFieldError,
                setErrorMessage,
                setNotificationMessage
            };
        },

        data () {
            return {
                choiceDescription: '',
                step: 0,
                continueBtn: { title: 'continue', path: '', icon: 'mdi-chevron-right' },
                backBtn: { title: 'back', path: '', icon: 'mdi-chevron-left' },
                sendBtn: { title: 'send', path: '', icon: 'mdi-send' },
                loading: false,
                firstStep: 'firstStep',
                secondStep: 'secondStep',
            }
        },

        computed: {
            ...mapGetters({
                messageOptions: 'enums/messageOptions',
            }),
        },

		methods: {
            validateOption() {
                this.v$.radioOption.$touch();
                if (this.v$.radioOption.$invalid) {
                    this.setErrorMessage(this.$t('error.pleaseFillOutTheForm'));
                } else {
                    this.choiceDescription = this.$t('choice') + ': ' + this.$t('enums.' + this.form.radioOption);
				    this.step = 1;
                }
			},

            updatePhoneCountryCode(e) {
                this.form.phoneCountryCode = e;
            },

            getStepperColor(providedStep) {
                if (providedStep === this.firstStep) {
                    if (this.v$.radioOption.$dirty && this.v$.radioOption.$invalid) {
                        return 'red';
                    }

                    if (!this.v$.radioOption.$invalid && this.step > 0) {
                        return 'success';
                    }
                } else if (providedStep === this.secondStep) {
                    if (this.v$.$dirty && this.v$.$invalid) {
                        return 'red';
                    }
                }

                return 'blue';
            },

			submit() {
                this.v$.$touch();
                if (this.v$.$invalid) {
                    this.setErrorMessage(this.$t('error.pleaseFillOutTheForm'));
                } else {
                    this.loading = true;
                    this.$recaptcha('sendMessage').then(token => {
                        this.form.recaptcha = token;
                        this.form.language = this.$i18n.locale;
                        axios.post('/api/sendMessage', this.form).then(response => {
                            this.loading = false;
                            this.form.recaptcha = '';
                            if (response.data.success) {
                                this.setNotificationMessage(this.$t(response.data.message));

                                this.step = 0;
                                this.form.name = '';
                                this.form.email = '';
                                this.form.phoneNumber = '';
                                this.form.description = '';
                            } else {
                                this.setErrorMessage(this.$t(response.data.message));

                                if (response.data.errors) {
                                    if (response.data.errors.name) {
                                        this.errors.name = response.data.errors.name;
                                    }
                                    if (response.data.errors.email) {
                                        this.errors.email = response.data.errors.email;
                                    }
                                    if (response.data.errors.phoneNumber) {
                                        this.errors.phoneNumber = response.data.errors.phoneNumber;
                                    }
                                    if (response.data.errors.phoneCountryCode) {
                                        this.errors.phoneCountryCode = response.data.errors.phoneCountryCode;
                                    }
                                    if (response.data.errors.description) {
                                        this.errors.description = response.data.errors.description;
                                    }
                                    if (response.data.errors.radioOption) {
                                        this.errors.radioOption = response.data.errors.radioOption;
                                    }
                                }
                            }
                        }).catch((error) => {
                            console.log(error);
                            this.form.recaptcha = '';
                            this.loading = true;
                            this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch((error) => {
                        console.log(error);
                        this.form.recaptcha = '';
                        this.loading = true;
                        this.setErrorMessage(this.$t('error.recaptchaError'));
                    });
                }
			},
		},
	}
</script>

<style scoped>

</style>
