<template>
    <v-snackbar
        v-model="isCookieBannerVisible"
        vertical
        :timeout="-1"
        elevation="6"
        color='#141518'
    >
        <p class='text-white'>
            {{ $t('policy.messageStart') }}
            <router-link
                to="/policy"
                class='text-red-accent-2'
            >
                {{ $t('policy.messagePolicy') }}
            </router-link>
            {{ $t('policy.messageEnd') }}
        </p>

        <template v-slot:actions>
            <v-btn
                variant='text'
                class='text-black'
                color='red-accent-2'
                v-on:click="acceptCookieLaw()"
            >
                {{ $t('policy.acceptButton') }}
            </v-btn>
        </template>
    </v-snackbar>
</template>

<script>
    export default {
        data () {
            return {
                isCookieBannerVisible: false
            }
        },

        methods: {
            acceptCookieLaw() {
                this.$cookies.set('isCookieLawAccepted', true, Infinity);
                this.prepareCookieBannerVisibility()
            },

            prepareCookieBannerVisibility() {
                if (this.$cookies.isKey('isCookieLawAccepted')
                    && (this.$cookies.get('isCookieLawAccepted') === 'true' || this.$cookies.get('isCookieLawAccepted') === true)
                ) {
                    this.isCookieBannerVisible = false;
                } else {
                    this.isCookieBannerVisible = true;
                }
            }
        },

        created: function() {
            this.prepareCookieBannerVisibility()
        },
    };
</script>