<template>
    <v-footer
        elevation='3'
        class='mt-16 text-center'
        color='#272727'
    >
        <v-container
            class='pa-0'
            fluid
        >
            <v-row>
                <v-col cols='12'>
                    <v-btn
                        v-for='(item, i) in followUsList'
                        :key='i'
                        class='mx-4'
                        :icon='item.icon'
                        variant='text'
                        :href='item.path'
                        target='_blank'
                    ></v-btn>
                </v-col>
            </v-row>

            <v-row>
                <v-col
                    cols='12'
                    offset-sm='4'
                    offset-md='2'
                    md='4'
                >
                    <v-list
                        density='compact'
                        class='pa-2 bg-transparent w-100'
                    >
                        <v-list-item
                            v-for='(item, i) in contactList'
                            :key='i'
                        >
                            <template v-slot:prepend>
                                <v-icon :icon='item.icon'></v-icon>
                            </template>
                            <v-list-item-title class='text-left text-body-2'>
                                {{ $t(item.text) }}
                            </v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-col>

                <v-col
                    cols='12'
                    md='6'
                >
                    <GoogleMaps />
                </v-col>
            </v-row>

            <v-divider></v-divider>

            <v-row>
                <v-col
                    cols='12'
                    class='my-4'
                >
                    <v-btn
                        v-for='(item, i) in additionalLinksList'
                        :key='i'
                        class='mx-2'
                        color='white'
                        variant='text'
                        size='small'
                        :to='item.path'
                    >
                        {{ $t(item.title) }}
                    </v-btn>
                </v-col>
            </v-row>

            <v-divider></v-divider>

            <v-row>
                <v-col
                    cols='12'
                    class='mt-3'
                >
                    &#169; 2016 - {{ new Date().getFullYear() }} : SIA <strong>StickFix</strong>
                </v-col>
            </v-row>
        </v-container>
    </v-footer>
</template>

<script>
    import GoogleMaps from '../components/GoogleMaps.vue';

    export default {
        components: {
            GoogleMaps,
        },

        data () {
            return {
                followUsList: [
                    { path: 'https://www.facebook.com/stickfixlv', icon: 'mdi-facebook' },
                    { path: 'https://www.instagram.com/stickfixlv', icon: 'mdi-instagram' },
                ],

                contactList: [
                    { text: 'footer.sia', icon: 'mdi-map-marker-outline' },
                    { text: 'footer.street', icon: '' },
                    { text: 'footer.location', icon: '' },
                    { text: 'footer.country', icon: '' },
                    { text: 'footer.workingHours', icon: 'mdi-clock' },
                    { text: 'footer.phoneNumber', icon: 'mdi-phone' },
                    { text: 'footer.email', icon: 'mdi-email' },
                ],

                additionalLinksList: [
                    { title: 'terms.linkTitle', path: '/terms' },
                    { title: 'payment.linkTitle', path: '/payment' },
                    { title: 'shipping.linkTitle', path: '/shipping' },
                    { title: 'guaranteeAndReturnPolicy.linkTitle', path: '/guaranteeAndReturnPolicy' },
                    { title: 'privacyPolicy.linkTitle', path: '/privacyPolicy' },
                    { title: 'cookies.linkTitle', path: '/cookies' },
                    { title: 'contactsAndRequisites.linkTitle', path: '/contactsAndRequisites' },
                    { title: 'faq.linkTitle', path: '/faq' },
                    { title: 'vacancies.linkTitle', path: '/vacancies' },
                ],
            }
        },
    }
</script>

<style scoped>

</style>
