<template>
    <v-dialog
        v-model="isGalleryOpen"
        width="w-100"
        :scrim="true"
    >
        <v-card>
            <v-card-actions class="justify-end">
                <v-btn
                    color='white'
                    variant='text'
                    icon='mdi-close'
                    @click="closeDialog()"
                ></v-btn>
            </v-card-actions>

            <v-carousel
                :show-arrows='images.length > 1'
                hide-delimiter-background
                :hide-delimiters='images.length === 1'
                class="h-screen"
                touch
            >
                <v-carousel-item
                    v-for="(image, i) in images" :key="i"
                    :src='getImageUrl(image.path, image.name)'
                    :lazy-src='getDefaultImage()'
                >
                    <template v-slot:error>
                        <div class='d-flex align-center justify-center fill-height'>
                            <v-progress-circular
                                color="grey-lighten-4"
                                indeterminate
                            ></v-progress-circular>
                        </div>
                    </template>
                </v-carousel-item>
            </v-carousel>
        </v-card>
    </v-dialog>
</template>

<script>
    import useDefaultImage from '../composables/useDefaultImage';
    import useUrl from '../composables/useUrl';

    export default {
        props: [ 'images' ],

        setup () {
            const { getDefaultImage } = useDefaultImage();
            const { getImageUrl } = useUrl();
            return {
                getDefaultImage,
                getImageUrl
            };
        },

        data () {
            return {
                isGalleryOpen: true,
            }
        },

        methods: {
            closeDialog() {
                this.$emit('data', { });
            },
        },

        watch: {
            isGalleryOpen: function(value) {
                if (!value) {
                    this.$emit('data', { });
                }
            }
        }
    }
</script>