<template>
    <div>
        <v-app-bar
            theme='dark'
            density='compact'
            color='#272727'
        >
            <v-app-bar-nav-icon @click.stop="sidebarMenu = !sidebarMenu"></v-app-bar-nav-icon>
            <v-app-bar-title>
                {{ $t('appTitle') }}
            </v-app-bar-title>

            <v-spacer></v-spacer>

            <CartMenu />
            <LanguageMenu />

            <div v-if="!authenticated">
                <v-btn
                    v-for="item in unAuthItems"
                    :key="item.title"
                    :to="item.path"
                    variant='text'
                    :icon='item.icon'
                    class='mr-2'
                ></v-btn>
            </div>

            <div v-else>
                <v-menu location='bottom'>
                    <template v-slot:activator="{ props }">
                        <v-btn
                            variant='text'
                            v-bind="props"
                            class='mr-2'
                            append-icon='mdi-chevron-down'
                        >
                            {{ user.username }}
                        </v-btn>
                    </template>

                    <v-list>
                        <v-list-item
                            v-for="item in getVisibleActions(authItems.paths)"
                            :key="item.title"
                            :to="item.path"
                        >
                            <template v-slot:prepend>
                                <v-icon
                                    color='blue'
                                    :icon="item.icon"
                                ></v-icon>
                            </template>
                            <v-list-item-title>
                                {{ $t(item.title) }}
                            </v-list-item-title>
                        </v-list-item>

                        <v-list-item
                            v-for="item in authItems.switches"
                            :key="item.title"
                        >
                            <v-list-item-action>
                                <v-switch
                                    color='blue'
                                    :model-value="!!user[item.field]"
                                    @click.prevent="userOptions(item.method)"
                                    :loading='loading'
                                    :disabled='loading'
                                    :label='$t(item.title)'
                                    hide-details
                                    density="comfortable"
                                ></v-switch>
                            </v-list-item-action>
                        </v-list-item>

                        <v-divider></v-divider>

                        <v-list-item
                            v-for="item in authItems.methods"
                            :key="item.title"
                            @click.prevent="userOptions(item.method)"
                        >
                            <template v-slot:prepend>
                                <v-icon
                                    color='blue'
                                    :icon="item.icon"
                                ></v-icon>
                            </template>
                            <v-list-item-title>
                                {{ $t(item.title) }}
                            </v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </div>
        </v-app-bar>

        <v-navigation-drawer
            v-if="!isAuthLoading"
            v-model="sidebarMenu"
            floating
            :permanent="sidebarMenu"
            :rail="toggleMini"
            class='bg-grey-darken-3'
            theme='dark'
        >
            <v-list-item class='bg-blue'>
                <template v-slot:prepend>
                    <v-icon
                        color='white'
                        :icon='toggleMiniIcon'
                        @click='miniSwitcher()'
                    ></v-icon>
                </template>
            </v-list-item>

            <v-list-item
                v-if="authenticated"
                :to="{ name: 'Account' }"
            >
                <template v-slot:prepend>
                    <v-avatar>
                        <v-icon icon='mdi-account-outline'></v-icon>
                    </v-avatar>
                </template>
                <v-list-item-title
                    class="text-truncate text-uppercase"
                >
                    {{ user.username }}
                </v-list-item-title>
            </v-list-item>

            <v-divider></v-divider>

            <v-list>
                <v-list-item
                    v-for="item in sideNavItems"
                    :key="item.title"
                    link
                    :to="item.href"
                >
                    <template v-slot:prepend>
                        <v-icon
                            color='blue'
                            :icon="item.icon"
                        ></v-icon>
                    </template>
                    <v-list-item-title class='text-blue'>
                        {{ $t(item.title) }}
                    </v-list-item-title>
                </v-list-item>
            </v-list>

            <v-divider></v-divider>

            <v-list v-if="authenticated">
                <v-list-item
                    v-for="item in getVisibleActions(sideNavAuthItems)"
                    :key="item.title"
                    link
                    :to="item.href"
                >
                    <template v-slot:prepend>
                        <v-badge v-if="item.type === 'MESSAGE' && unreadMessageCount"
                            color='green'
                            :content="unreadMessageCount"
                        >
                            <v-icon
                                color='blue'
                                :icon="item.icon"
                            ></v-icon>
                        </v-badge>

                        <v-badge v-else-if="item.type === 'ORDER' && newOrderCount"
                            color='green'
                            :content="newOrderCount"
                        >
                            <v-icon
                                color='blue'
                                :icon="item.icon"
                            ></v-icon>
                        </v-badge>

                        <v-icon
                            v-else
                            color='blue'
                            :icon="item.icon"
                        ></v-icon>
                    </template>

                    <v-list-item-title class='text-blue'>
                        {{ $t(item.title) }}
                    </v-list-item-title>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import CountryFlag from 'vue-country-flag-next';
    import useMessage from '../composables/useMessage';
    import useRole from '../composables/useRole';
    import useActions from '../composables/useActions';
    import CartMenu from '../components/CartMenu.vue';
    import LanguageMenu from '../components/LanguageMenu.vue';

    export default {
        name: 'Nav',

        components: {
            CountryFlag,
            CartMenu,
            LanguageMenu,
        },

        setup () {
            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { getVisibleActions } = useRole();
            const { updateStore } = useActions();

            return {
                setErrorMessage,
                setNotificationMessage,
                getVisibleActions,
                updateStore,
            };
        },

        data () {
            return {
                sidebarMenu: true,
                toggleMini: true,
                toggleMiniIcon: 'mdi-chevron-right',
                loading: false,

                unAuthItems: [
                    { title: '', path: '/login', icon: 'mdi-login-variant' }
                ],

                authItems: {
                    paths: [
                        { title: 'navigation.controlPanel', path: '/controlPanel', icon: 'mdi-shield-account', role: 'enterControlPanel' },
                        { title: 'account', path: '/account', icon: 'mdi-account' },
                    ],
                    methods: [
                        { title: 'navigation.logout', method: 'signOut', icon: 'mdi-logout' },
                    ],
                    switches: [
                        { title: 'navigation.showInactive', method: 'switchShowInactive', field: 'showInactive' },
                        { title: 'navigation.showDeleted', method: 'switchShowDeleted', field: 'showDeleted' },
                    ],
                },

                sideNavItems: [
                    { title: 'navigation.home', href: '/', icon: 'mdi-home-outline' },
                    { title: 'navigation.adverts', href: '/adverts', icon: 'mdi-view-module' },
                ],

                sideNavAuthItems: [
                    { title: 'navigation.controlPanel', href: '/controlPanel', icon: 'mdi-shield-account', role: 'enterControlPanel' },
                    { title: 'navigation.messages', href: '/messages', icon: 'mdi-email-outline', role: 'readMessages', type: 'MESSAGE' },
                    { title: 'navigation.orders', href: '/orders', icon: 'mdi-list-box-outline', role: 'seeOrders', type: 'ORDER' },
                ],
            }
        },

        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated',
                user: 'auth/user',
                isAuthLoading: 'auth/isLoading',
                unreadMessageCount: 'messages/unreadMessageCount',
                newOrderCount: 'orders/newOrderCount',
            }),
        },

        methods: {
            ...mapActions({
                signOutAction: 'auth/logout',
                refreshUserDataAction: 'auth/login',
            }),

            async signOut() {
                this.loading = true;
                await axios.get('/api/logout').then((response) => {
                    this.loading = false;
                    if (response.data.success) {
                        this.signOutAction();
                        this.updateStore();
                        this.$router.push({ name: 'Home' }).catch(() => {});
                    }
                }).catch((error) => {
                    console.log(error);
                    this.loading = true;
                    this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                });
            },

            switchShowInactive() {
                this.loading = true;
                axios.get('/api/switchShowInactive').then((response) => {
                    this.loading = false;
                    if (response.data.success) {
                        this.setNotificationMessage(this.$t(response.data.message));
                        this.refreshUserDataAction();
                    } else {
                        this.setErrorMessage(this.$t(response.data.message));
                    }
                }).catch((error) => {
                    console.log(error);
                    this.loading = true;
                    this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                });
            },

            switchShowDeleted() {
                this.loading = true;
                axios.get('/api/switchShowDeleted').then((response) => {
                    this.loading = false;
                    if (response.data.success) {
                        this.setNotificationMessage(this.$t(response.data.message));
                        this.refreshUserDataAction();
                    } else {
                        this.setErrorMessage(this.$t(response.data.message));
                    }
                }).catch((error) => {
                    console.log(error);
                    this.loading = true;
                    this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                });
            },

            userOptions(name) {
                this[name]();
            },

            miniSwitcher() {
                this.toggleMini = !this.toggleMini;
                if (this.toggleMini) {
                    this.toggleMiniIcon = 'mdi-chevron-right';
                } else {
                    this.toggleMiniIcon = 'mdi-chevron-left';
                }
                return this.toggleMini;
            },
        },
    }
</script>

<style scoped>

</style>
