<template>
    <v-breadcrumbs :items="items">
        <template v-slot:title="{ item }">
            <v-breadcrumbs-item
                v-if="item.isTranslated"
                :to="item.href"
                :disabled="item.disabled"
            >
                {{ item.title }}
            </v-breadcrumbs-item>

            <v-breadcrumbs-item
                v-else
                :to="item.href"
                :disabled="item.disabled"
            >
                {{ $t(item.title) }}
            </v-breadcrumbs-item>
        </template>
    </v-breadcrumbs>
</template>

<script>
    export default {
        props: [ 'items' ],
    }
</script>

<style scoped>

</style>
