<template>
    <v-data-table
        :headers="headers"
        :items="items"
        class="overflow-x-auto elevation-3 mb-12"
        :loading="isLoading"
        :items-per-page="-1"
        density='comfortable'
        hover
    ></v-data-table>
</template>

<script>
    export default {
        props: [ 'headers', 'items', 'isLoading' ],
    }
</script>

<style scoped>

</style>
