<template>
    <v-card
        elevation='6'
        theme='dark'
        class='mx-auto text-left'
        :loading='loading'
    >
        <v-list
            v-if='messages'
            density='comfortable'
        >
            <template
                v-for="(message, i) in messages" :key="i"
            >
                <v-list-item
                    :class="message.isRead ? undefined : 'font-weight-bold bg-light-blue-darken-4'"
                    :to="'/message/' + message.id"
                    :disabled="!getIsActionAllowed(replyRole)"
                    :title="message.name"
                >
                    <template v-slot:append>
                        <p>
                            {{ getTimeAgoValue(message.createdAt) }}
                            <v-tooltip activator='parent'>
                                {{ message.createdAt }}
                            </v-tooltip>
                        </p>

                        <v-btn
                            v-if='getIsActionVisible(readMessageBtn)'
                            color='grey-lighten-3'
                            class='mx-2'
                            :to="readMessageBtn.path + message.id"
                            :loading="loading"
                            :disabled="loading"
                        >
                            {{ $t(readMessageBtn.title) }}
                        </v-btn>
                    </template>
                </v-list-item>

                <v-divider class='border-opacity-25'></v-divider>
            </template>
        </v-list>
    </v-card>
</template>

<script>
    import useRole from '../../composables/useRole';
    import useTimeAgo from '../../composables/useTimeAgo';

    export default {
        props: [ 'services', 'users', 'messages' ],

        setup () {
            const { getIsActionVisible, getIsActionAllowed } = useRole();
            const { getTimeAgoValue } = useTimeAgo();

            return { getIsActionVisible, getIsActionAllowed, getTimeAgoValue };
        },

        data () {
            return {
                loading: false,
                replyRole: 'replyOnMessages',
                readMessageBtn: { title: 'open', path: '/message/', icon: '', role: 'replyOnMessages' },
            }
        },
    }
</script>

<style scoped>
    .wrap-text {
        white-space: normal;
    }
</style>
