<template>
    <v-card
        elevation='6'
        theme='dark'
        class='mx-auto text-left'
        :loading='loading'
    >
        <v-list
            v-if="services"
            lines='three'
            density='comfortable'
        >
            <template
                v-for="(service, i) in services" :key="i"
            >
                <v-list-item
                    :variant="service.isActive ? 'elevated' : 'outlined'"
                    :class="service.isActive ? undefined : 'bg-grey-darken-3'"
                >
                    <v-list-item-title
                        class='text-body-1 font-weight-medium text-white mb-1 wrap-text'
                    >
                        <span
                            v-if='!service.isActive'
                            class='text-grey'
                        >
                            {{ $t('inactive') }}:
                        </span>
                        <span>
                            {{ service.title }}
                        </span>
                    </v-list-item-title>

                    <v-list-item-subtitle
                        v-if='service.note'
                        class='wrap-text'
                    >
                        <VuetifyViewer
                            v-if='service.note'
                            :value="service.note"
                        />
                    </v-list-item-subtitle>

                    <template v-slot:append>
                        <div
                            v-if='service.priceInMinorUnit'
                            class='text-h6 text-blue mx-2'
                        >
                            {{ $t('startingAt') }} {{ toCurrency(service.priceInMinorUnit) }}
                        </div>

                        <v-btn
                            v-if='authenticated'
                            color='amber'
                            variant='tonal'
                            class='mx-2'
                            :to="editServiceBtn.path + service.id"
                            :prepend-icon='editServiceBtn.icon'
                            :loading="loading"
                            :disabled="loading"
                        >
                            {{ $t(editServiceBtn.title) }}
                        </v-btn>
                    </template>
                </v-list-item>

                <v-divider class='border-opacity-25'></v-divider>
            </template>
        </v-list>
    </v-card>
</template>

<script>
    import { mapGetters } from 'vuex';
    import useCurrency from '../../composables/useCurrency';

    export default {
        props: [ 'services' ],

        components: { },

        setup () {
            const { toCurrency } = useCurrency();

            return { toCurrency };
        },

        data () {
            return {
                loading: false,
                editServiceBtn: { title: 'edit', path: '/editService/', icon: 'mdi-pencil' },
            }
        },

        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated',
            }),
        },
    }
</script>

<style scoped>
    .wrap-text {
        white-space: normal;
    }
</style>
