<template>
    <v-card
        elevation='6'
        theme='dark'
        class='mx-auto text-left'
        :loading='loading'
    >
        <v-list
            v-if="getAvailableUserList"
            lines='two'
            density='comfortable'
        >
            <template
                v-for="(user, i) in getAvailableUserList" :key="i"
            >
                <v-list-item
                    :variant="user.isBlocked || !user.isConfirmed ? 'outlined' : 'elevated'"
                    :class="user.isBlocked || !user.isConfirmed ? 'bg-grey-darken-3' : undefined"
                >
                    <v-list-item-title
                        class='text-body-1 font-weight-medium text-white mb-1 wrap-text'
                    >
                        <span
                            v-if='user.isBlocked'
                            class='text-red'
                        >
                            {{ $t('blocked') }}:
                        </span>
                        <span
                            v-else-if='!user.isConfirmed'
                            class='text-grey'
                        >
                            {{ $t('inactive') }}:
                        </span>
                        <span>
                            {{ user.username }}
                        </span>
                    </v-list-item-title>

                    <template v-slot:append>
                        <v-btn
                            v-if='getIsActionVisible(editUserBtn)'
                            color='amber'
                            variant='tonal'
                            class='mx-2'
                            :to="editUserBtn.path + user.id"
                            :prepend-icon='editUserBtn.icon'
                            :loading="loading"
                            :disabled="loading"
                        >
                            {{ $t(editUserBtn.title) }}
                        </v-btn>
                    </template>
                </v-list-item>

                <v-divider class='border-opacity-25'></v-divider>
            </template>
        </v-list>
    </v-card>
</template>

<script>
    import { mapGetters } from 'vuex';
    import useRole from '../../composables/useRole';

    export default {
        props: [ 'services', 'users', 'messages' ],

        components: { },

        setup () {
            const { getIsActionVisible } = useRole();
            return { getIsActionVisible };
        },

        data () {
            return {
                loading: false,
                editUserBtn: { title: 'edit', path: '/editUser/', icon: 'mdi-pencil', role: 'editUser' },
            }
        },

        computed: {
            ...mapGetters({
                currentUser: 'auth/user',
            }),

            getAvailableUserList() {
                return this.users.filter((user) =>
                    this.currentUser.id === 1 || user.id !== 1
                );
            },
        },
    }
</script>

<style scoped>
    .wrap-text {
        white-space: normal;
    }
</style>
